Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

perf(resolver): limit retry isolation to ref subtrees
  src/core/plugins/swagger-client/index.js
Due: eslint --max-warnings 0

fix(resolver): avoid unrelated cache eviction
  src/core/plugins/swagger-client/index.js
Due: eslint --max-warnings 0

fix: handle virtualization with pathitem references
  src/core/components/operations.jsx
Due: eslint --max-warnings 0

fix(oas3): set Accept header from response media type on mount
  src/core/components/response.jsx
  test/unit/components/response.tsx
Due: eslint --max-warnings 0

chore(e2e): tolerate leftover oauth2 server locally
  test/e2e-playwright/support/global-setup.ts
Due: none

test(e2e): migrate a11y, security and oauth2 specs to playwright
  test/e2e-cypress/e2e/a11y/authorize-popup.cy.js
  test/e2e-cypress/e2e/a11y/response-tabs.cy.js
  test/e2e-cypress/e2e/features/auth-bearer-flow.cy.js
  test/e2e-cypress/e2e/features/auth-code-flow-pkce-without-secret.cy.js
  test/e2e-cypress/e2e/features/deep-linking.cy.js
  test/e2e-cypress/e2e/features/dynamic-default-oauth.cy.js
  test/e2e-cypress/e2e/features/oas31-auth-mutual-tls.cy.js
  test/e2e-cypress/e2e/features/oauth2-flows/application.cy.js
  test/e2e-cypress/e2e/features/oauth2-flows/password.cy.js
  test/e2e-cypress/e2e/security/anonymous.cy.js
  test/e2e-cypress/e2e/security/apikey.cy.js
  test/e2e-cypress/e2e/security/oauth2.cy.js
  test/e2e-cypress/e2e/security/sequential-import-chaining.cy.js
  test/e2e-playwright/a11y/authorize-popup.spec.ts
  test/e2e-playwright/a11y/response-tabs.spec.ts
  test/e2e-playwright/features/auth-bearer-flow.spec.ts
  test/e2e-playwright/features/auth-code-flow-pkce-without-secret.spec.ts
  test/e2e-playwright/features/dynamic-default-oauth.spec.ts
  test/e2e-playwright/features/oas31-auth-mutual-tls.spec.ts
  test/e2e-playwright/features/oauth2-flows/application.spec.ts
  test/e2e-playwright/features/oauth2-flows/password.spec.ts
  test/e2e-playwright/security/anonymous.spec.ts
  test/e2e-playwright/security/apikey.spec.ts
  test/e2e-playwright/security/sequential-import-chaining.spec.ts
Due: eslint --max-warnings 0

test(e2e): migrate features specs (batch 1) to playwright
  test/e2e-cypress/e2e/features/default-model-rendering.cy.js
  test/e2e-cypress/e2e/features/external-docs.cy.js
  test/e2e-cypress/e2e/features/info.cy.js
  test/e2e-cypress/e2e/features/license.cy.js
  test/e2e-cypress/e2e/features/model-collapse.cy.js
  test/e2e-cypress/e2e/features/models-virtualization.cy.js
  test/e2e-cypress/e2e/features/multiple-examples-core.cy.js
  test/e2e-cypress/e2e/features/oas-badge.cy.js
  test/e2e-cypress/e2e/features/oas3-callbacks.cy.js
  test/e2e-cypress/e2e/features/oas3-extension.cy.js
  test/e2e-cypress/e2e/features/oas3-multiple-media-type.cy.js
  test/e2e-cypress/e2e/features/oas3-multiple-servers.cy.js
  test/e2e-cypress/e2e/features/oas3-request-body-allow-empty-values.cy.js
  test/e2e-cypress/e2e/features/oas3-request-body-default-views.cy.js
  test/e2e-cypress/e2e/features/oas3-request-body-required.cy.js
  test/e2e-cypress/e2e/features/oas3-user-edit-request-body-flows.cy.js
  test/e2e-cypress/e2e/features/oas3-xml.cy.js
  test/e2e-playwright/features/default-model-rendering.spec.ts
  test/e2e-playwright/features/external-docs.spec.ts
  test/e2e-playwright/features/info.spec.ts
  test/e2e-playwright/features/license.spec.ts
  test/e2e-playwright/features/model-collapse.spec.ts
  test/e2e-playwright/features/models-virtualization.spec.ts
  test/e2e-playwright/features/multiple-examples-core.spec.ts
  test/e2e-playwright/features/oas-badge.spec.ts
  test/e2e-playwright/features/oas3-callbacks.spec.ts
  test/e2e-playwright/features/oas3-extension.spec.ts
  test/e2e-playwright/features/oas3-multiple-media-type.spec.ts
  test/e2e-playwright/features/oas3-multiple-servers.spec.ts
  test/e2e-playwright/features/oas3-request-body-allow-empty-values.spec.ts
  test/e2e-playwright/features/oas3-request-body-default-views.spec.ts
  test/e2e-playwright/features/oas3-request-body-required.spec.ts
  test/e2e-playwright/features/oas3-user-edit-request-body-flows.spec.ts
  test/e2e-playwright/features/oas3-xml.spec.ts
  test/e2e-playwright/support/multiple-examples.ts
Due: eslint --max-warnings 0

chore(ci): run e2e tests with playwright in 4 shards
  .github/workflows/nodejs.yml
Due: none

fix: handle virtualization with path item references (#11069)
  src/core/components/operations.jsx
Due: eslint --max-warnings 0

test branch
  dev-helpers/dev-helper-initializer.js
  webpack/dev.js
Due: eslint --max-warnings 0

chore(release): cut the 5.33.1 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  cac3d136b5e37bfbe3288c8591f6f4fcf9870599
Due: none

fix: include webhooks in oas 3.2
  src/core/components/layouts/base.jsx
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/selectors.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  test/e2e-cypress/e2e/features/webhooks.cy.js
  test/e2e-cypress/static/documents/features/webhooks-openAPI32.yaml
  test/unit/core/plugins/oas32/webhooks.test.ts
Due: eslint --max-warnings 0

fix(json-schema-5): move early return after useCallback in models
  src/core/plugins/json-schema-5/components/models.jsx
Due: eslint --max-warnings 0

test(oas32): cover additional operations in Cypress
  package-lock.json
  package.json
  test/e2e-cypress/e2e/features/oas32/oas32-additional-operations.cy.js
  test/e2e-cypress/static/documents/features/oas32-additional-operations.yaml
Due: eslint --max-warnings 0

feat: add support for additionalOperations in oas3.2
  docs/usage/configuration.md
  package-lock.json
  package.json
  src/core/components/layouts/base.jsx
  src/core/components/operation-summary-method.jsx
  src/core/components/operation-summary.jsx
  src/core/components/operation.jsx
  src/core/components/overview.jsx
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  src/core/plugins/spec/selectors.js
  src/style/_dark-mode.scss
  src/style/_layout.scss
  test/e2e-cypress/e2e/features/oas32/oas32-additional-operations.cy.js
  test/e2e-cypress/static/documents/features/oas32-additional-operations.yaml
  test/unit/components/additional-operations.jsx
  test/unit/core/plugins/oas32/additional-path-items.test.js
  test/unit/core/plugins/oas32/query-operation-rendering.test.js
  test/unit/core/plugins/oas32/spec-extensions/wrap-selectors.test.js
  test/unit/core/plugins/spec/assets/petstore.json
  test/unit/core/plugins/spec/selectors.js
Due: eslint --max-warnings 0, stylelint '**/*.scss'

chore(e2e): remove cypress
  .claude/SKILL_USAGE_EXAMPLE.md
  .claude/implementation/perf-virtualization/README.md
  .claude/implementation/perf-virtualization/phase-1-models-virtualization.md
  .claude/implementation/perf-virtualization/phase-2-oas31-models.md
  .claude/implementation/perf-virtualization/phase-3-operations-virtualization.md
  .claude/skills/add-oas-support.md
  .gitignore
  CLAUDE.md
  README.md
  cypress.config.js
  docs/development/cypress-to-playwright-migration.md
  docs/development/scripts.md
  package-lock.json
  package.json
  test/e2e-cypress/.eslintrc
  test/e2e-playwright/fixtures/example.json
  test/e2e-selenium/README.md
Due: eslint --max-warnings 0

test(e2e): fix two vacuous info/license checks and keep the 5138 wait
  test/e2e-playwright/bugs/5138.spec.ts
  test/e2e-playwright/features/info.spec.ts
  test/e2e-playwright/features/license.spec.ts
  test/e2e-playwright/static/documents/features/info-openAPI30.yaml
Due: none

test(e2e): fail tests on uncaught page exceptions
  test/e2e-playwright/support/fixtures.ts
Due: none

test(e2e): escape all regex metacharacters in oas-badge helper
  test/e2e-playwright/features/oas-badge.spec.ts
Due: none

chore(ci): type-check playwright tests
  .github/workflows/nodejs.yml
  CLAUDE.md
  docs/development/scripts.md
  package.json
Due: none

chore: update custom method colour for light mode
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  src/style/_dark-mode.scss
  src/style/_variables.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix(json-schema-5): move early return after useCallback in models (#11082)
  src/core/plugins/json-schema-5/components/models.jsx
Due: eslint --max-warnings 0

chore: update custom method colour for dark mode
  src/style/_dark-mode.scss
Due: stylelint '**/*.scss'

chore: lint fixes
  src/core/components/layouts/base.jsx
Due: eslint --max-warnings 0

Update docs/usage/configuration.md
  docs/usage/configuration.md
Due: none

addressed review comment
  src/style/_dark-mode.scss
  src/style/_variables.scss
  test/unit/components/additional-operations.tsx
  test/unit/core/plugins/oas32/additional-path-items.test.ts
Due: stylelint '**/*.scss'

addressed review comment
  src/core/plugins/oas3/selectors.js
  test/unit/core/plugins/oas3/state-integration.js
Due: eslint --max-warnings 0

addressed review comment
  src/core/components/operation-summary-method.jsx
  src/core/components/operation.jsx
  src/core/components/overview.jsx
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  src/core/plugins/spec/selectors.js
  src/core/utils/operation-methods.ts
  test/e2e-cypress/e2e/features/oas32/oas32-additional-operations.cy.js
  test/unit/core/plugins/oas32/query-operation-rendering.test.js
  test/unit/tsconfig.json
Due: eslint --max-warnings 0

Path conditions:
  eslint --max-warnings 0: any of: *.{js,jsx}
  stylelint '**/*.scss': any of: *.scss
