Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

UPD - avoid mutating original object
  src/core/oauth2-authorize.js
  test/unit/core/oauth2-authorize.js
Due: eslint --max-warnings 0

fix(docker): bump libpng and zlib versions to fix CVE-2026-33416, CVE-2026-33636 and CVE-2026-22184 (#10802)
  Dockerfile
Due: none

fix: validated support for OpenAPI 3.1.2 and updated docs
  CLAUDE.md
  README.md
  test/unit/core/plugins/oas31/fn.js
Due: eslint --max-warnings 0

chore(release): cut the 5.31.2 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

chore(release): cut the 5.32.0 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

fix(core): remove mistakenly put condition (#10212) (#10730)
  src/core/containers/OperationContainer.jsx
Due: eslint --max-warnings 0

fix(deps): update swagger-client to v3.36.2 to resolve peer dep issue (#10734)
  package-lock.json
  package.json
Due: none

chore(release): cut the 5.31.1 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

chore(deps): update swagger-js (#10772)
  package-lock.json
  package.json
Due: none

fix(deps): align the tree-sitter version (#10694)
  package-lock.json
  package.json
Due: none

perf: reduce conversion from immutablejs to plain js objects (#10682)
  src/core/components/operation-summary-path.jsx
  src/core/components/operation-summary.jsx
  src/core/components/operation.jsx
  src/core/plugins/json-schema-5-samples/fn/get-sample-schema.js
  src/core/plugins/oas3/components/request-body.jsx
  test/e2e-cypress/e2e/bugs/5188.cy.js
Due: eslint --max-warnings 0

Fix(utils) disallow schema type array value string for oas3 (#10713)
  src/core/utils/index.js
  test/e2e-cypress/e2e/features/try-it-out-schema-type-array-example-type-string.cy.js
  test/e2e-cypress/static/documents/features/try-it-out-schema-type-array-example-type-string.yaml
  test/unit/core/utils.js
Due: eslint --max-warnings 0

chore(deps): bump swagger-client from 3.36.2 to 3.37.0 (#10743)
  README.md
  package-lock.json
  package.json
Due: none

fix: invalidate models components cache based on location (#10764)
  src/core/plugins/oas31/wrap-components/model.jsx
  src/core/plugins/oas31/wrap-components/models.jsx
  src/core/plugins/oas32/wrap-components/model.jsx
  src/core/plugins/oas32/wrap-components/models.jsx
Due: eslint --max-warnings 0

fix(utils): disallow schema type array value string (#10691)
  src/core/utils/index.js
  test/e2e-cypress/e2e/features/try-it-out-schema-type-array-example-type-string.cy.js
  test/e2e-cypress/static/documents/features/try-it-out-schema-type-array-example-type-string.yaml
  test/unit/core/utils.js
Due: eslint --max-warnings 0

chore(release): cut the 5.32.1 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui.css
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

build: use Node.js@24.14.0 in dev setup (#10674)
  .browserslistrc
  .github/workflows/docker-build-push-unstable.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/nodejs.yml
  .github/workflows/release-swagger-ui-dist.yml
  .github/workflows/release-swagger-ui-react.yml
  .github/workflows/release-swagger-ui.yml
  .nvmrc
  CLAUDE.md
  docs/development/setting-up.md
  package-lock.json
Due: none

fix(deps): update vulnerable dependencies (#10725)
  package-lock.json
  package.json
Due: none

Revert "fix(utils): disallow schema type array value string (#10691)" (#10710)
  src/core/utils/index.js
  test/e2e-cypress/e2e/features/try-it-out-schema-type-array-example-type-string.cy.js
  test/e2e-cypress/static/documents/features/try-it-out-schema-type-array-example-type-string.yaml
  test/unit/core/utils.js
Due: eslint --max-warnings 0

Accessibility: Easier to access Authorization (#10692)
  src/style/_layout.scss
  src/style/_modal.scss
Due: stylelint '**/*.scss'

chore(release): cut the 5.32.2 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Fixed errors for changing Content Type in the Example
  src/core/plugins/oas3/reducers.js
Due: eslint --max-warnings 0

fix(style): move button margin from right to left (#10696)
  src/style/_authorize.scss
Due: stylelint '**/*.scss'

fix(oas3): reset request body when content type changes
  src/core/components/parameters/parameters.jsx
  test/unit/components/parameters.jsx
Due: eslint --max-warnings 0

fix(spec): wrap parameterMacro to handle undefined return values
  src/core/plugins/spec/actions.js
  src/core/plugins/swagger-client/index.js
  src/core/utils/wrap-parameter-macro.js
  test/unit/core/utils/wrap-parameter-macro.js
Due: eslint --max-warnings 0

fix(oas3): reverse readOnly/writeOnly handling for callback request bodies
  src/core/components/parameters/parameters.jsx
  src/core/plugins/oas3/components/request-body.jsx
  test/unit/core/plugins/oas3/request-body.js
Due: eslint --max-warnings 0

fix(oas3): apply default encoding for form-urlencoded array properties
  src/core/plugins/oas3/after-load.js
  src/core/plugins/oas3/index.js
  test/unit/core/plugins/oas3/after-load.js
Due: eslint --max-warnings 0

fix(core): deduplicate parameters by name and location, not just name
  src/core/components/operation.jsx
  test/unit/bugs/7430-parameter-dedup-location.jsx
Due: eslint --max-warnings 0

fix(validation): handle anyOf/oneOf schemas in required parameter validation
  src/core/utils/index.js
  test/unit/core/utils.js
Due: eslint --max-warnings 0

fix(err): filter false-positive ExampleElement mutually exclusive resolver errors
  src/core/plugins/err/error-transformers/hook.js
  src/core/plugins/err/error-transformers/transformers/example-mutually-exclusive.js
  test/unit/core/plugins/err/transformers/example-mutually-exclusive.js
Due: eslint --max-warnings 0

test(oas3): add regression tests for oneOf/anyOf parameter explode behavior
  test/unit/bugs/10002-oneof-param-explode.jsx
Due: eslint --max-warnings 0

fix(oas31): render file picker for array items with contentMediaType
  src/core/plugins/json-schema-5/components/json-schema-components.jsx
  test/e2e-cypress/e2e/features/plugins/oas31/oas31-request-body-upload-file.cy.js
  test/e2e-cypress/static/documents/features/oas31-request-body-upload-file.yaml
Due: eslint --max-warnings 0

perf(operation): limit number of rerenders (#10796)
  src/core/components/operation.jsx
  src/core/components/operations.jsx
  src/core/plugins/spec/selectors.js
  test/unit/core/plugins/spec/selectors.js
Due: eslint --max-warnings 0

chore(deps): bump swagger-client to v3.37.2
  package-lock.json
  package.json
Due: none

chore(deps): bump swagger-client to v3.37.2 (#10829)
  package-lock.json
  package.json
Due: none

chore(release): cut the 5.32.3 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  5717343f5cd3afef84bf3e7aac47df079013638f
Due: none

fix(authorization): increase backdrop z-index
  src/style/_layout.scss
Due: stylelint '**/*.scss'

fix(docker): upgrade alpine packages to address HIGH severity CVEs
  Dockerfile
Due: none

Path conditions:
  eslint --max-warnings 0: any of: *.{js,jsx}
  stylelint '**/*.scss': any of: *.scss
