Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --max-warnings 0"],
  "*.scss": ["stylelint '**/*.scss'"]
}

fix(css): Restore paragraph spacing in parameter descriptions and response descriptions
  src/style/_table.scss
Due: stylelint '**/*.scss'

fix(oas3): reset request body values in try it out (#9717)
  src/core/containers/OperationContainer.jsx
  src/core/plugins/oas3/reducers.js
  test/e2e-cypress/e2e/features/try-it-out-reset.cy.js
  test/e2e-cypress/static/documents/features/try-it-out-reset.yaml
Due: eslint --max-warnings 0

fix permissions of files to allow running as non-root
  Dockerfile
Due: none

files in /usr/share/nginx/html/ don't need to be overwritten except one: swagger-initializer.js
  Dockerfile
Due: none

fix: use open-cli instead of require('open') for Node 20+ compatibility
  package-lock.json
  package.json
Due: none

fix: javascript.lang.security.audit.detect-non-literal-regexp.detect-non-literal-regexp-src-core-utils-index.js
  src/core/utils/index.js
Due: eslint --max-warnings 0

fix: typescript.react.security.audit.react-dangerouslysetinnerhtml.react-dangerouslysetinnerhtml-src-core-plugins-oas3-wrap-components-markdown.jsx
  package-lock.json
  package.json
  src/core/plugins/oas3/wrap-components/markdown.jsx
Due: eslint --max-warnings 0

Remove development debug code from production builds (#10521)
  src/core/components/debug.jsx
  src/core/components/examples-select.jsx
  src/core/config/sources/query.js
  src/core/plugins/spec/actions.js
Due: eslint --max-warnings 0

chore(release): cut the 5.26.1 release
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  059cfe3734846519cd55752326c4b191bf682ca2
Due: none

Addressed review comments
  src/style/_table.scss
Due: stylelint '**/*.scss'

fix(style): restore paragraph spacing in parameter and response descriptions (#10514)
  src/style/_table.scss
Due: stylelint '**/*.scss'

chore(release): cut the 5.26.2 release
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  2ab53f4f501e5a4a9e6cb031f49732be9ae28678
Due: none

feat(json-schema): support x-additionalPropertiesName
  src/core/plugins/json-schema-2020-12-samples/fn/main.js
  src/core/plugins/json-schema-5-samples/fn/index.js
  test/unit/core/plugins/json-schema-2020-12-samples/fn.js
  test/unit/core/plugins/json-schema-5-samples/fn/index.js
Due: eslint --max-warnings 0

feat(json-schema): support x-additionalPropertiesName (#10006)
  src/core/plugins/json-schema-2020-12-samples/fn/main.js
  src/core/plugins/json-schema-5-samples/fn/index.js
  test/unit/core/plugins/json-schema-2020-12-samples/fn.js
  test/unit/core/plugins/json-schema-5-samples/fn/index.js
Due: eslint --max-warnings 0

fix: permissions of files to allow running as non-root (#10515)
  Dockerfile
Due: none

fix(package-lock): preserve @babel/cli and other dependencies while adding open-cli
  package-lock.json
Due: none

fix(url): Correct handling of relative paths
  src/core/utils/url.js
Due: eslint --max-warnings 0

chore(utils): Add more sanitizeUrl tests
  test/unit/core/utils.js
Due: eslint --max-warnings 0

style(url): Unpack nested ternary
  src/core/utils/url.js
Due: eslint --max-warnings 0

fix: sanitization of relative OpenAPI JSON paths (#10528)
  src/core/utils/url.js
  test/unit/core/utils.js
Due: eslint --max-warnings 0

chore(release): cut the 5.27.0 release
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  7b86721ad6494216d8bad0540c737efe1885688c
Due: none

fix: remove unrelated package-lock.json changes
  package-lock.json
Due: none

fix: use open-cli instead of require('open') for Node 20+ compatibility (#10517)
  package-lock.json
  package.json
Due: none

Create RudiusMed
  RudiusMed
Due: none

Fix: render example properly when it's an OrderedMap (fixes #10535)
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  src/core/plugins/json-schema-5/components/model-example.jsx
Due: eslint --max-warnings 0

chore(release): cut the 5.27.1 release
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  43ed706e9519841e97401cfad83faca564b37eaf
Due: none

feat: add React 19 support to swagger-ui-react
  flavors/swagger-ui-react/release/template.json
  package.json
Due: none

feat: Build `/dist` folder
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  webpack/_config-builder.js
Due: eslint --max-warnings 0

close authorization popup with ESC key or click in backdrop
  src/core/components/auth/authorization-popup.jsx
Due: eslint --max-warnings 0

fix: update package-lock
  package-lock.json
Due: none

feat: add initial support for React 19 (#10551)
  flavors/swagger-ui-react/release/template.json
  package-lock.json
  package.json
Due: none

chore(release): cut the 5.28.0 release
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  01e23904eec6075e032e07f3235607b463d9ecf3
Due: none

fix: provide polyfill for buffer in build
  package-lock.json
  package.json
  webpack/_config-builder.js
Due: eslint --max-warnings 0
