Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

chore(deps): bump node to 24.17 (#10939)
  .nvmrc
  CLAUDE.md
  docs/development/setting-up.md
Due: none

Added an ability to configure operationsSorter via ENV
  docker/configurator/translator.js
  docker/configurator/variables.js
  docs/usage/configuration.md
  test/unit/docker/translator.js
Due: eslint --max-warnings 0

Added an ability to configure operationsSorter via ENV
  test/unit/docker/translator.js
Due: eslint --max-warnings 0

fix: allow empty only actually allowed an empty value before a value was selected once, and not reset
  src/core/components/parameter-row.jsx
  src/core/plugins/spec/actions.js
  test/unit/components/parameter-row.jsx
  test/unit/core/plugins/spec/actions.js
Due: eslint --max-warnings 0

fix: use array widget when using a foldable array
  src/core/plugins/json-schema-5/components/json-schema-components.jsx
  test/unit/core/plugins/json-schema-5/components/json-schema-form.jsx
Due: eslint --max-warnings 0

refactor(oauth2-redirect): parse query with URLSearchParams
  dev-helpers/oauth2-redirect.js
Due: eslint --max-warnings 0

:fire: enhance accessibility for dark mode toggle button
  src/standalone/plugins/top-bar/components/DarkModeToggle.jsx
Due: eslint --max-warnings 0

:tada: add WCAG accessibility checks for copy-to-clipboard buttons
  .github/workflows/wcag.yml
  package-lock.json
  package.json
  test/e2e-cypress/e2e/a11y/button-accessible-names.cy.js
  test/e2e-cypress/support/e2e.js
Due: eslint --max-warnings 0

feat: enhance accessibility for copy-to-clipboard buttons
  src/core/components/copy-to-clipboard-btn.jsx
  src/core/components/curl.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
Due: eslint --max-warnings 0

:sparkles: improve accessibility for copy-to-clipboard buttons
  src/core/components/copy-to-clipboard-btn.jsx
  src/core/components/curl.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
Due: eslint --max-warnings 0

test: update programmatic names for response action buttons
  test/e2e-cypress/e2e/a11y/button-accessible-names.cy.js
Due: eslint --max-warnings 0

chore: update build and audit badges in README.md
  README.md
Due: none

chore(deps): bump js-yaml to address security vulnerability
  package-lock.json
  package.json
Due: none

feat(oas32): support additional operations
  src/core/components/operation-summary.jsx
  src/core/components/operation.jsx
  src/core/components/overview.jsx
  src/core/plugins/oas3/selectors.js
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  src/core/plugins/spec/reducers.js
  src/core/plugins/spec/selectors.js
  src/style/_dark-mode.scss
  src/style/_layout.scss
  src/style/_variables.scss
  test/unit/core/plugins/oas32/query-operation-rendering.test.js
  test/unit/core/plugins/oas32/spec-extensions/wrap-selectors.test.js
  test/unit/core/plugins/spec/selectors.js
Due: eslint --max-warnings 0, stylelint '**/*.scss'

chore(deps): bump node to 24.18
  .nvmrc
  CLAUDE.md
  docs/development/setting-up.md
Due: none

test: cover resolved subtree precedence
  test/unit/core/plugins/spec/selectors.js
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  08bb057df45fa778351ccea63dfedf848d5c5edf
Due: none

fix(deps): bump swagger-client to 3.37.7
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  0b5f9730b46df892f7761722983f97549ec68ccc
Due: none

fix(deps): bump immutable to 4.3.9
  package-lock.json
  package.json
  src/core/components/auth/auths.jsx
  src/core/components/auth/oauth2.jsx
  src/core/components/examples-select-value-retainer.jsx
  src/core/components/operations.jsx
  src/core/components/overview.jsx
  src/core/plugins/json-schema-5/components/model.jsx
  src/core/plugins/oas31/components/auth/auths.jsx
  src/core/utils/index.js
Due: eslint --max-warnings 0

fix(deps): bump immutable to 4.3.9
  src/core/components/examples-select-value-retainer.jsx
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  414a60c9a40408d37821297682b8a190a840a79b
Due: none

feat (change-history): add sidebar with topbar toggle
  src/core/config/defaults.js
  src/core/containers/change-history.jsx
  src/core/plugins/change-history/actions.js
  src/core/plugins/change-history/components/ChangeHistorySidebar.jsx
  src/core/plugins/change-history/fn.js
  src/core/plugins/change-history/index.js
  src/core/plugins/change-history/reducers.js
  src/core/plugins/change-history/selectors.js
  src/core/plugins/change-history/spec-actions.js
  src/core/plugins/change-history/wrap-actions.js
  src/core/presets/base/index.js
  src/standalone/plugins/stadalone-layout/components/StandaloneLayout.jsx
  src/standalone/plugins/top-bar/assets/history-icon.svg
  src/standalone/plugins/top-bar/components/ChangeHistoryToggle.jsx
  src/standalone/plugins/top-bar/components/TopBar.jsx
  src/standalone/plugins/top-bar/index.js
  src/style/_change-history.scss
  src/style/_dark-mode.scss
  src/style/_topbar.scss
  src/style/main.scss
  test/unit/core/plugins/change-history/container.jsx
  test/unit/core/plugins/change-history/fn.test.js
  test/unit/core/plugins/change-history/sidebar.jsx
  test/unit/standalone/plugins/top-bar/ChangeHistoryToggle.jsx
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix(oas3): stop nesting select inside label in Servers component
  src/core/plugins/oas3/components/servers.jsx
  src/style/_servers.scss
  test/e2e-cypress/e2e/features/oas3-multiple-servers.cy.js
  test/e2e-cypress/e2e/features/urls.cy.js
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix(deps): bump swagger-client to v3.37.8
  package-lock.json
  package.json
Due: none

fix(deps): bump swagger-client to v3.37.8 (#10980)
  package-lock.json
  package.json
Due: none

chore(release): cut the 5.32.12 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  9b5acf38723108ac816dcb7303897e87f933ac4e
Due: none

docs(perf): add list virtualization implementation plan and perf fixtures
  .claude/implementation/perf-virtualization/README.md
  .claude/implementation/perf-virtualization/phase-1-models-virtualization.md
  .claude/implementation/perf-virtualization/phase-2-oas31-models.md
  .claude/implementation/perf-virtualization/phase-3-operations-virtualization.md
  test/e2e-cypress/static/documents/perf/many-operations.yaml
  test/e2e-cypress/static/documents/perf/many-schemas.openapi.yaml
  test/e2e-cypress/static/documents/perf/many-schemas.openapi31.yaml
  test/e2e-cypress/static/documents/perf/many-schemas.swagger.yaml
Due: none

fix(build): include license and source map in dist
  .releaserc
Due: none

chore: rename dafault branch from master to main
  .github/dependabot.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/docker-build-push-unstable.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/nodejs.yml
  .github/workflows/release-swagger-ui-dist.yml
  .github/workflows/release-swagger-ui-packagist.yml
  .github/workflows/release-swagger-ui-react.yml
  .github/workflows/release-swagger-ui.yml
  .releaserc
  CLAUDE.md
  Dockerfile
  README.md
  docs/customization/add-plugin.md
  docs/usage/deep-linking.md
  flavors/swagger-ui-react/README.md
  snapcraft.yaml
  src/core/components/examples-select.jsx
  test/e2e-cypress/static/documents/features/petstore-only-pet.openapi.yaml
Due: eslint --max-warnings 0

chore: rename dafault branch from master to main (#10985)
  .github/dependabot.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/docker-build-push-unstable.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/nodejs.yml
  .github/workflows/release-swagger-ui-dist.yml
  .github/workflows/release-swagger-ui-packagist.yml
  .github/workflows/release-swagger-ui-react.yml
  .github/workflows/release-swagger-ui.yml
  .releaserc
  CLAUDE.md
  Dockerfile
  README.md
  docs/customization/add-plugin.md
  docs/usage/deep-linking.md
  flavors/swagger-ui-react/README.md
  snapcraft.yaml
  src/core/components/examples-select.jsx
  test/e2e-cypress/static/documents/features/petstore-only-pet.openapi.yaml
Due: eslint --max-warnings 0

docs(i18n): add missing locales and document response.* keys
  docs/usage/i18n.md
Due: none

fix(i18n): remove auth.client_id and auth.client_secret i18n keys
  docs/usage/i18n.md
  src/core/components/auth/oauth2.jsx
  src/core/plugins/i18n/locales/ca.js
  src/core/plugins/i18n/locales/de.js
  src/core/plugins/i18n/locales/en.js
  src/core/plugins/i18n/locales/es.js
  src/core/plugins/i18n/locales/fr.js
  src/core/plugins/i18n/locales/is.js
  src/core/plugins/i18n/locales/it.js
  src/core/plugins/i18n/locales/ja.js
  src/core/plugins/i18n/locales/ka.js
  src/core/plugins/i18n/locales/ko.js
  src/core/plugins/i18n/locales/pl.js
  src/core/plugins/i18n/locales/pt.js
  src/core/plugins/i18n/locales/ru.js
  src/core/plugins/i18n/locales/tr.js
  src/core/plugins/i18n/locales/zh.js
Due: eslint --max-warnings 0

feat(i18n): add missing locale files ca, it, ja, ka (geo), pl, tr
  src/core/plugins/i18n/locales/ca.js
  src/core/plugins/i18n/locales/index.js
  src/core/plugins/i18n/locales/it.js
  src/core/plugins/i18n/locales/ja.js
  src/core/plugins/i18n/locales/ka.js
  src/core/plugins/i18n/locales/pl.js
  src/core/plugins/i18n/locales/tr.js
  test/unit/core/plugins/i18n/locales.test.js
Due: eslint --max-warnings 0

fix(a11y): close Authorization popup with Escape key
  src/core/components/auth/authorization-popup.jsx
  test/e2e-cypress/e2e/a11y/authorize-popup.cy.js
  test/unit/components/authorization-popup.jsx
Due: eslint --max-warnings 0

fix(a11y): close Authorization popup on backdrop click
  src/core/components/auth/authorization-popup.jsx
  test/e2e-cypress/e2e/a11y/authorize-popup.cy.js
  test/unit/components/authorization-popup.jsx
Due: eslint --max-warnings 0

chore(deps): configure allowed install-time lifecycle scripts
  package.json
Due: none

chore(ci): pin 3rd party github actions
  .github/workflows/dependabot-merge.yml
  .github/workflows/docker-build-push-unstable.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/docker-image-check.yml
  .github/workflows/release-swagger-ui.yml
Due: none

Path conditions:
  eslint --max-warnings 0: any of: *.{js,jsx}
  stylelint '**/*.scss': any of: *.scss
