Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --max-warnings 0"],
  "*.scss": ["stylelint '**/*.scss'"]
}

fix(request-snippets): escape pipe character in cURL CMD snippets
  src/core/plugins/request-snippets/fn.js
Due: eslint --max-warnings 0

UPD - remove code at beggining to ensure all execution paths are handled
  src/core/oauth2-authorize.js
Due: eslint --max-warnings 0

UPD - test name because it's part of the AC flow
  test/unit/core/oauth2-authorize.js
Due: eslint --max-warnings 0

fix(style): move button margin from right to left
  src/style/_authorize.scss
Due: stylelint '**/*.scss'

Revert "fix(utils): disallow schema type array value string (#10691)"
  src/core/utils/index.js
  test/e2e-cypress/e2e/features/try-it-out-schema-type-array-example-type-string.cy.js
  test/e2e-cypress/static/documents/features/try-it-out-schema-type-array-example-type-string.yaml
  test/unit/core/utils.js
Due: eslint --max-warnings 0

fix(utils): disallow schema type array value string
  src/core/utils/index.js
Due: eslint --max-warnings 0

fix(utils): disallow schema type array value string for oas3 only
  src/core/utils/index.js
  test/unit/core/utils.js
Due: eslint --max-warnings 0

fix(utils): disallow schema type array value string for oas3 only
  test/unit/core/utils.js
Due: eslint --max-warnings 0

fix(utils): disallow schema type array value string for oas3 only
  src/core/utils/index.js
Due: eslint --max-warnings 0

feat: add OAS 3.2 support
  CLAUDE.md
  README.md
  dev-helpers/dev-helper-initializer.js
  dist/swagger-ui-bundle.js
  dist/swagger-ui-bundle.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-es-bundle.js.LICENSE.txt
  dist/swagger-ui-standalone-preset.js.LICENSE.txt
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  docs/oas32-specification-analysis.md
  src/core/plugins/oas31/wrap-components/contact.jsx
  src/core/plugins/oas31/wrap-components/license.jsx
  src/core/plugins/oas32/after-load.js
  src/core/plugins/oas32/components/info.jsx
  src/core/plugins/oas32/components/self-uri.jsx
  src/core/plugins/oas32/components/version-pragma-filter.jsx
  src/core/plugins/oas32/fn.js
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/selectors.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  src/core/plugins/oas32/wrap-components/info.jsx
  src/core/plugins/oas32/wrap-components/version-pragma-filter.jsx
  src/core/presets/apis/index.js
  test/e2e-cypress/e2e/features/oas-badge.cy.js
  test/e2e-cypress/e2e/features/oas32-contact-and-license.cy.js
  test/e2e-cypress/e2e/features/oas32/oas32-component-only.cy.js
  test/e2e-cypress/e2e/features/oas32/oas32-self-uri.cy.js
  test/e2e-cypress/e2e/features/oas32/oas32-version-detection.cy.js
  test/e2e-cypress/static/documents/oas32/component-only.yaml
  test/e2e-cypress/static/documents/oas32/contact-and-license.yaml
  test/e2e-cypress/static/documents/oas32/oas32-features.yaml
  test/unit/core/plugins/oas32/components/self-uri.jsx
  test/unit/core/plugins/oas32/components/version-pragma-filter.jsx
  test/unit/core/plugins/oas32/fn.js
  test/unit/core/plugins/oas32/spec-extensions/selectors.js
Due: eslint --max-warnings 0

docs: add claude skill for adding support for new oas version
  .claude/SKILL_USAGE_EXAMPLE.md
  .claude/skills/README.md
  .claude/skills/add-oas-support.md
Due: none

feat(oas32): add QUERY operation support
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/selectors.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  src/style/_layout.scss
  src/style/_variables.scss
  test/e2e-cypress/e2e/features/oas32/oas32-query-operation.cy.js
  test/e2e-cypress/static/documents/features/oas32-query-operation.yaml
  test/unit/core/plugins/oas32/selectors.test.js
Due: eslint --max-warnings 0, stylelint '**/*.scss'

style: auto-format oas32-contact-and-license test
  test/e2e-cypress/e2e/features/oas32-contact-and-license.cy.js
Due: eslint --max-warnings 0

fix(oas32): wrap operations selector to include QUERY method operations
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
Due: eslint --max-warnings 0

fix(oas32): wrap isOAS3 selector to enable OAS3 features for OAS 3.2
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
Due: eslint --max-warnings 0

fix(oas32): correct operations selector wrapper pattern for QUERY operations
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  test/unit/core/plugins/oas32/spec-extensions/wrap-selectors.test.js
Due: eslint --max-warnings 0

fix(oas32): pass isOAS31 and isOAS32 props to VersionPragmaFilter
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/components/layouts/base.jsx
Due: eslint --max-warnings 0

fix(oas32): enable QUERY operation support in core selectors
  src/core/containers/OperationContainer.jsx
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  src/core/plugins/spec/selectors.js
  test/e2e-cypress/e2e/features/oas32/oas32-query-operation.cy.js
  test/e2e-cypress/static/documents/features/oas32-query-operation.yaml
  test/unit/core/plugins/oas32/query-operation-rendering.test.js
Due: eslint --max-warnings 0

fix(oas32): correct selector implementations to fix runtime errors
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/spec-extensions/selectors.js
  test/unit/core/plugins/oas32/spec-extensions/selectors.js
  test/unit/core/plugins/oas32/spec-extensions/selectors.test.js
  test/unit/core/plugins/oas32/wrap-components/operation-tag.test.jsx
Due: eslint --max-warnings 0

test(oas32): add comprehensive QUERY operation rendering verification
  dist/swagger-ui.js
  docs/oas32-query-operation-verification.md
  test/e2e-cypress/e2e/features/oas32-query-operation.cy.js
  test/e2e-cypress/static/documents/features/oas32-query-operation.yaml
  test/unit/core/plugins/oas32/query-operation-rendering.test.js
Due: eslint --max-warnings 0

build: regenerate dist files for basic OAS 3.2 implementation
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
Due: eslint --max-warnings 0

refactor(oas32): remove $self field from basic implementation
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  docs/oas32-specification-analysis.md
  src/core/plugins/oas32/components/self-uri.jsx
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/selectors.js
  test/e2e-cypress/e2e/features/oas32/oas32-self-uri.cy.js
  test/e2e-cypress/static/documents/oas32/oas32-features.yaml
  test/unit/core/plugins/oas32/components/self-uri.jsx
  test/unit/core/plugins/oas32/spec-extensions/selectors.test.js
Due: eslint --max-warnings 0

refactor(oas32): remove enhancement selectors from basic implementation
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/selectors.js
  test/unit/core/plugins/oas32/query-operation-rendering.test.js
  test/unit/core/plugins/oas32/spec-extensions/selectors.test.js
Due: eslint --max-warnings 0

fix(base): add missing isOAS32 variable declaration
  src/core/components/layouts/base.jsx
Due: eslint --max-warnings 0

test(oas32): fix unit tests for basic implementation
  test/unit/core/plugins/oas32/spec-extensions/wrap-selectors.test.js
  test/unit/core/plugins/oas32/wrap-components/operation-tag.test.jsx
Due: eslint --max-warnings 0

test(oas32): update version-detection E2E test expectations
  test/e2e-cypress/e2e/features/oas32/oas32-version-detection.cy.js
Due: eslint --max-warnings 0

fix(e2e): correct URL paths for OAS32 test specs
  test/e2e-cypress/e2e/features/oas32/oas32-component-only.cy.js
  test/e2e-cypress/e2e/features/oas32/oas32-version-detection.cy.js
Due: eslint --max-warnings 0

fix(oas32): register selectInfoSummaryField selector
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/index.js
Due: eslint --max-warnings 0

style(oas32): update QUERY operation color to purple/magenta
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  src/style/_dark-mode.scss
  src/style/_variables.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

chore: remove temporary OAS32 documentation files
  docs/oas32-query-operation-verification.md
  docs/oas32-specification-analysis.md
Due: none

chore: reset dev helper to default Petstore API URL
  dev-helpers/dev-helper-initializer.js
Due: eslint --max-warnings 0

build: remove generated LICENSE.txt files from dist
  dist/swagger-ui-bundle.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js.LICENSE.txt
  dist/swagger-ui-es-bundle.js.LICENSE.txt
  dist/swagger-ui-standalone-preset.js.LICENSE.txt
Due: none

refactor(test): simplify OAS32 E2E tests to be more concise
  test/e2e-cypress/e2e/features/oas32-contact-and-license.cy.js
  test/e2e-cypress/e2e/features/oas32-query-operation.cy.js
  test/e2e-cypress/e2e/features/oas32/oas32-component-only.cy.js
  test/e2e-cypress/e2e/features/oas32/oas32-version-detection.cy.js
Due: eslint --max-warnings 0

docs(oas32): add TODO for OAS 3.2 JSON Schema version update
  src/core/plugins/oas32/after-load.js
Due: eslint --max-warnings 0

fix: correct supported OpenAPI version text in error messages
  dist/swagger-ui-bundle.js
  dist/swagger-ui-bundle.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-es-bundle.js.LICENSE.txt
  dist/swagger-ui-standalone-preset.js.LICENSE.txt
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas31/components/version-pragma-filter.jsx
  src/core/plugins/oas32/components/version-pragma-filter.jsx
Due: eslint --max-warnings 0

fix(test): correct operation IDs in QUERY E2E test
  test/e2e-cypress/e2e/features/oas32-query-operation.cy.js
Due: eslint --max-warnings 0

style: apply Prettier formatting to SCSS and JS files
  src/core/plugins/oas32/after-load.js
  src/style/_dark-mode.scss
  src/style/_topbar.scss
  src/style/_variables.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

build: remove LICENSE.txt files from dist
  dist/swagger-ui-bundle.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js.LICENSE.txt
  dist/swagger-ui-es-bundle.js.LICENSE.txt
  dist/swagger-ui-standalone-preset.js.LICENSE.txt
Due: none
