Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --max-warnings 0"],
  "*.scss": ["stylelint '**/*.scss'"]
}

chore(deps): update deps
  package-lock.json
Due: none

chore(deps): update deps
  .github/workflows/docker-build-push-unstable.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/nodejs.yml
  .github/workflows/release-swagger-ui-dist.yml
  .github/workflows/release-swagger-ui-react.yml
  .github/workflows/release-swagger-ui.yml
  .nvmrc
  CLAUDE.md
  package-lock.json
Due: none

chore(docs): update prerequisites
  docs/development/setting-up.md
Due: none

build: use Node.js@24.14.0 in dev setup (#10674)
  .browserslistrc
  .github/workflows/docker-build-push-unstable.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/nodejs.yml
  .github/workflows/release-swagger-ui-dist.yml
  .github/workflows/release-swagger-ui-react.yml
  .github/workflows/release-swagger-ui.yml
  .nvmrc
  CLAUDE.md
  docs/development/setting-up.md
  package-lock.json
Due: none

fix: invalidate models components cache based on location (#10764)
  src/core/plugins/oas31/wrap-components/model.jsx
  src/core/plugins/oas31/wrap-components/models.jsx
  src/core/plugins/oas32/wrap-components/model.jsx
  src/core/plugins/oas32/wrap-components/models.jsx
Due: eslint --max-warnings 0

fix(style): use container queries for responsive design (#10763)
  src/style/_form.scss
  src/style/_layout.scss
  src/style/_mixins.scss
  src/style/_topbar.scss
  src/style/main.scss
Due: stylelint '**/*.scss'

fix: deplicated type with anyOf, oneOf parameters. make X | (X | Y) to X | Y fix: improve format parameters listed order. make (string | null)($date-time) to string($date-time) | null
  src/core/components/parameter-row.jsx
  src/core/plugins/json-schema-2020-12/fn.js
  src/core/plugins/oas3/components/request-body.jsx
Due: eslint --max-warnings 0

fix(request-snippets): escape vertical bar character in cURL CMD snippets
  src/core/plugins/request-snippets/fn.js
Due: eslint --max-warnings 0

chore(deps): update swagger-js
  package-lock.json
  package.json
Due: none

chore(deps): update swagger-js (#10772)
  package-lock.json
  package.json
Due: none

chore(release): cut the 5.32.1 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui.css
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  d361f5b3570b8ade67fb1c02cf7a676fcb441479
Due: none

fix: Show first example value on Parameter inputs
  src/core/components/headers.jsx
  src/core/components/parameter-row.jsx
  src/core/utils/get-parameter-examples.js
  src/style/main.scss
  test/unit/components/headers.jsx
  test/unit/components/parameter-row.jsx
Due: eslint --max-warnings 0, stylelint '**/*.scss'

style: add gap to auth button wrapper for improved layout
  src/style/_authorize.scss
Due: stylelint '**/*.scss'

fix(style): reduce padding on inline code blocks in markdown (#7569)
  src/style/_markdown.scss
Due: stylelint '**/*.scss'

fix(style): markdown list items default text color in Dark Mode (#10790)
  src/style/_dark-mode.scss
Due: stylelint '**/*.scss'

feat(oas31/style): array items label schema name (#10794)
  src/core/plugins/json-schema-2020-12/components/keywords/Items.jsx
  src/core/plugins/oas31/after-load.js
  src/core/plugins/oas31/json-schema-2020-12-extensions/fn.js
  src/core/plugins/oas31/wrap-components/model.jsx
  src/core/plugins/oas31/wrap-components/models.jsx
Due: eslint --max-warnings 0

add unit and e2e tests
  test/e2e-cypress/e2e/features/oas31-array-items-label.cy.js
  test/e2e-cypress/static/documents/features/oas31-array-items-label.yaml
  test/unit/core/plugins/oas31/json-schema-2020-12-extensions/fn.js
Due: eslint --max-warnings 0

fix: limit rerenders
  src/core/components/operations.jsx
  src/core/plugins/spec/selectors.js
  test/unit/core/plugins/spec/selectors.js
Due: eslint --max-warnings 0

fix: limit rerenders
  test/unit/core/plugins/spec/selectors.js
Due: eslint --max-warnings 0

fix: limit rerenders
  src/core/components/operations.jsx
Due: eslint --max-warnings 0

fix(docker): bump libpng and zlib versions to fix CVE-2026-33416, CVE-2026-33636 and CVE-2026-22184
  Dockerfile
Due: none

fix(docker): bump libpng and zlib versions to fix CVE-2026-33416, CVE-2026-33636 and CVE-2026-22184 (#10802)
  Dockerfile
Due: none

chore(release): cut the 5.32.2 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  d02a2df106961d8cb6bceb6b4b3aa8d9f6faaf4a
Due: none

fix(response): handle empty examples map in OAS3 responses
  src/core/components/response.jsx
  test/unit/core/plugins/json-schema-5/components/response.jsx
Due: eslint --max-warnings 0

fix(style): fix authorize popup button overlap in Firefox
  src/style/_authorize.scss
  test/e2e-cypress/e2e/bugs/6649.cy.js
Due: eslint --max-warnings 0, stylelint '**/*.scss'

test(auth): add regression tests for relative OAuth2 URLs
  test/unit/core/oauth2-authorize.js
  test/unit/core/utils.js
Due: eslint --max-warnings 0

fix(oas31): resolve schema refs regardless of expand depth
  src/core/plugins/oas31/components/models/models.jsx
  test/unit/core/plugins/oas31/components/models.jsx
Due: eslint --max-warnings 0

feat(plugins): Show multipart/form-data example and schema
  src/core/plugins/oas3/components/request-body.jsx
  test/e2e-cypress/e2e/features/oas3-request-body-default-views.cy.js
Due: eslint --max-warnings 0

fix: limit rerenders
  src/core/components/operation.jsx
Due: eslint --max-warnings 0

generate custom maven package
  .gitignore
  pom.xml
Due: none

documentation for maven package
  README.md
Due: none

prettier fixes
  src/core/plugins/oas31/json-schema-2020-12-extensions/fn.js
  test/e2e-cypress/e2e/features/oas31-array-items-label.cy.js
  test/unit/core/plugins/oas31/json-schema-2020-12-extensions/fn.js
Due: eslint --max-warnings 0

chore(deps): bump react-copy-to-clipboard from 5.1.0 to 5.1.1
  package-lock.json
  package.json
Due: none

Accessibility: Easier to access Authorization (#10692)
  src/style/_layout.scss
  src/style/_modal.scss
Due: stylelint '**/*.scss'

docs: add claude skill for adding support for new oas version (#10722)
  .claude/SKILL_USAGE_EXAMPLE.md
  .claude/skills/README.md
  .claude/skills/add-oas-support.md
Due: none
