Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --max-warnings 0"],
  "*.scss": ["stylelint '**/*.scss'"]
}

PR Feedback
  src/core/components/content-type.jsx
Due: eslint --max-warnings 0

Fix linting and last revert
  src/core/components/content-type.jsx
Due: eslint --max-warnings 0

fix(core): refactor UNSAFE_ lifecycle methods in ContentType and OperationContainer (#10373)
  src/core/components/content-type.jsx
  src/core/containers/OperationContainer.jsx
Due: eslint --max-warnings 0

fix: ignore rendering responses with extensions in the schema
  src/core/components/responses.jsx
Due: eslint --max-warnings 0

feat: add `isExtension` util function
  src/core/components/responses.jsx
  src/core/utils/index.js
Due: eslint --max-warnings 0

fix: avoid rendering empty table if only extensions are present
  src/core/components/responses.jsx
Due: eslint --max-warnings 0

build: build release package with next version
  webpack/_config-builder.js
Due: eslint --max-warnings 0

fix: include script in body
  dev-helpers/oauth2-redirect.html
Due: none

fix: include script in body (#10593)
  dev-helpers/oauth2-redirect.html
Due: none

build: build release package with next version (#10594)
  webpack/_config-builder.js
Due: eslint --max-warnings 0

refactor: update `getExtensions` function to use `isExtension`
  src/core/utils/index.js
Due: eslint --max-warnings 0

Fix #10540: Escape vertical bar | in cURL (CMD) request snippet body for Windows CMD compatibility
  dev-helpers/dev-helper-initializer.js
  dist/oauth2-redirect.html
  dist/swagger-ui-bundle.js
  dist/swagger-ui-bundle.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-es-bundle.js.LICENSE.txt
  dist/swagger-ui-standalone-preset.js.LICENSE.txt
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  package-lock.json
  src/core/plugins/request-snippets/fn.js
Due: eslint --max-warnings 0

fix: ignore rendering responses with extensions in the schema (#10592)
  src/core/components/responses.jsx
  src/core/utils/index.js
Due: eslint --max-warnings 0

style: hide secondary elements in enum/examples
  src/core/plugins/json-schema-2020-12/components/keywords/Enum/_enum.scss
  src/core/plugins/json-schema-2020-12/components/keywords/Examples/_examples.scss
Due: stylelint '**/*.scss'

fix: use <h1> for main page heading to improve accessibility
  src/core/components/info.jsx
Due: eslint --max-warnings 0

fix(oas31): change info heading to h1 in OpenAPI 3.1.0 spec
  src/core/plugins/oas31/components/info.jsx
Due: eslint --max-warnings 0

feat: hide array indices in enum/examples, preserve nested props
  src/core/plugins/json-schema-2020-12/components/JSONViewer/JSONViewer.jsx
  src/core/plugins/json-schema-2020-12/components/JSONViewer/_json-viewer.scss
  src/core/plugins/json-schema-2020-12/components/keywords/Enum/Enum.jsx
  src/core/plugins/json-schema-2020-12/components/keywords/Enum/_enum.scss
  src/core/plugins/json-schema-2020-12/components/keywords/Examples/Examples.jsx
  src/core/plugins/json-schema-2020-12/components/keywords/Examples/_examples.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

test: update urls.cy.js to expect h1.title instead of h2.title
  test/e2e-cypress/e2e/features/urls.cy.js
Due: eslint --max-warnings 0

test: update 5138.cy.js to expect h1.title instead of h2.title
  test/e2e-cypress/e2e/bugs/5138.cy.js
Due: eslint --max-warnings 0

fix: use h1 for title heading to improve accessibility (#10598)
  src/core/components/info.jsx
  src/core/plugins/oas31/components/info.jsx
  test/e2e-cypress/e2e/bugs/5138.cy.js
  test/e2e-cypress/e2e/features/urls.cy.js
Due: eslint --max-warnings 0

Fix: Escape vertical bar (|) in cURL (CMD) request snippet body and add unit test. Remove unrelated changes.
  dist/swagger-ui-bundle.js
  dist/swagger-ui-bundle.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-es-bundle.js.LICENSE.txt
  dist/swagger-ui-standalone-preset.js.LICENSE.txt
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  package-lock.json
  src/core/plugins/request-snippets/fn.js
  test/unit/core/plugins/request-snippets/fn.test.js
Due: eslint --max-warnings 0

fix: update vulnerable libxml2 to 2.13.9-r0
  Dockerfile
Due: none

fix: update vulnerable libxml2 to 2.13.9-r0 (#10600)
  Dockerfile
Due: none

chore(release): cut the 5.29.4 release
  dist/oauth2-redirect.html
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  526c9ee9227e07e55eb45a4c1749dd0880f97ea1
Due: none

feat: implement automatic auth dialog closure for better UX
  src/core/components/auth/auths.jsx
Due: eslint --max-warnings 0

converted ordered map to plain js in example.jsx
  src/core/components/example.jsx
Due: eslint --max-warnings 0

fix(url): handle arbitrary number of levels for relative paths
  src/core/utils/url.js
  test/unit/core/utils.js
Due: eslint --max-warnings 0

added fix for paths starting with single period
  src/core/utils/url.js
  test/unit/core/utils.js
Due: eslint --max-warnings 0

fix: use stringify util to render a property
  src/core/components/property.jsx
Due: eslint --max-warnings 0

Update dev-helpers/dev-helper-initializer.js
  dev-helpers/dev-helper-initializer.js
Due: eslint --max-warnings 0

Export escapeCMD function from fn.js
  src/core/plugins/request-snippets/fn.js
Due: eslint --max-warnings 0

Remove test for vertical bar escaping in bash
  test/unit/core/plugins/request-snippets/fn.test.js
Due: eslint --max-warnings 0

Enable request snippets in Swagger UI configuration
  dev-helpers/dev-helper-initializer.js
Due: eslint --max-warnings 0

fix: update import path for stringify utility in property component
  src/core/components/property.jsx
Due: eslint --max-warnings 0

test: add tests for stringify utility in utils.js
  test/unit/core/utils.js
Due: eslint --max-warnings 0

fix(core): handle complex value stringification in Property component (#10604)
  src/core/components/property.jsx
  test/unit/core/utils.js
Due: eslint --max-warnings 0

Delete dist/swagger-ui-bundle.js.LICENSE.txt
  dist/swagger-ui-bundle.js.LICENSE.txt
Due: none

Delete dist/swagger-ui-es-bundle.js.LICENSE.txt
  dist/swagger-ui-es-bundle.js.LICENSE.txt
Due: none

Fix vertical bar escaping in CMD and apply code style compliance
  dev-helpers/dev-helper-initializer.js
  src/core/plugins/request-snippets/fn.js
  test/unit/core/plugins/request-snippets/fn.test.js
Due: eslint --max-warnings 0
