Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

fix(deps): update vulnerable dependencies
  package-lock.json
Due: none

fix(deps): update vulnerable dependencies (js-yaml & glob) (#10644)
  package-lock.json
Due: none

fix(deps): update vulnerable @release-it/conventional-changelog to 10.0.2
  package-lock.json
  package.json
Due: none

fix(deps): update vulnerable @release-it/conventional-changelog to 10.0.2 (#10645)
  package-lock.json
  package.json
Due: none

chore(release): cut the 5.30.3 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  199761a94d03753ec62c23bb4ba162bb73c3cfc7
Due: none

feat: additional elements and color update
  src/standalone/plugins/top-bar/components/DarkMode.jsx
  src/standalone/plugins/top-bar/components/DarkModeToggle.jsx
  src/standalone/plugins/top-bar/components/TopBar.jsx
  src/standalone/plugins/top-bar/index.js
  src/style/_dark-mode.scss
  src/style/_themeDark.scss
  src/style/_topbar.scss
  src/style/main.scss
  test/unit/components/DarkModeToggle.jsx
  test/unit/components/darkMode.jsx
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix: fix issue with duplicate react by rewriting to class component
  src/standalone/plugins/top-bar/components/DarkModeToggle.jsx
Due: eslint --max-warnings 0

fix: bind function in constructor
  src/standalone/plugins/top-bar/components/DarkModeToggle.jsx
Due: eslint --max-warnings 0

chore: move unit test under standalone
  config/jest/jest.unit.config.js
  test/unit/standalone/plugins/top-bar/DarkModeToggle.jsx
Due: eslint --max-warnings 0

chore: add empty line
  src/style/_topbar.scss
Due: stylelint '**/*.scss'

feat: add dark mode (#10653)
  config/jest/jest.unit.config.js
  src/standalone/plugins/top-bar/assets/lightbulb-off.svg
  src/standalone/plugins/top-bar/assets/lightbulb.svg
  src/standalone/plugins/top-bar/components/DarkModeToggle.jsx
  src/standalone/plugins/top-bar/components/TopBar.jsx
  src/standalone/plugins/top-bar/index.js
  src/style/_dark-mode.scss
  src/style/_topbar.scss
  src/style/main.scss
  test/unit/standalone/plugins/top-bar/DarkModeToggle.jsx
Due: eslint --max-warnings 0, stylelint '**/*.scss'

chore(release): cut the 5.31.0 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui.css
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  e52faf81f53964850a3ade75042e2019c20bc280
Due: none

Revert "chore(release): cut the 5.31.0 release"
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui.css
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Revert "chore(release): cut the 5.31.0 release" (#10658)
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui.css
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  61dddd44389bf25922639afd682f50b8a0fb5cf4
Due: none

chore(deps-dev): update vulnerable node-forge dependency
  package-lock.json
Due: none

fix(deps-dev): update vulnerable node-forge dependency
  package-lock.json
Due: none

style(dark-mode): add color-scheme property for improved dark mode support
  src/style/_dark-mode.scss
Due: stylelint '**/*.scss'

style(dark-mode): add explicit color-scheme property for light mode support
  dev-helpers/style.css
Due: none

chore: add runtime and package manager checks to package.json and update setup documentation
  docs/development/setting-up.md
  package-lock.json
  package.json
Due: none

feat(theme): configurable dark mode with system preference support
  docker/configurator/variables.js
  docs/usage/configuration.md
  docs/usage/dark-mode.md
  src/core/config/defaults.js
  src/core/config/type-cast/mappings.js
  src/core/index.js
  src/core/plugins/dark-mode/actions.js
  src/core/plugins/dark-mode/index.js
  src/core/plugins/dark-mode/reducers.js
  src/core/plugins/dark-mode/selectors.js
  src/core/presets/base/index.js
  src/standalone/plugins/top-bar/components/DarkModeToggle.jsx
  src/standalone/plugins/top-bar/components/TopBar.jsx
  test/unit/standalone/plugins/top-bar/DarkModeToggle.jsx
Due: eslint --max-warnings 0

build: use Node.js@24.12.0 in dev setup
  .browserslistrc
  .github/workflows/docker-build-push-unstable.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/release-swagger-ui-dist.yml
  .github/workflows/release-swagger-ui-react.yml
  .github/workflows/release-swagger-ui.yml
  .nvmrc
  docs/development/setting-up.md
  package-lock.json
Due: none

build: use Node.js@24.12.0 in dev setup
  .github/workflows/nodejs.yml
Due: none

build: use Node.js@24.12.0 in dev setup
  package-lock.json
Due: none

refac: make urlHashArray immutable
  src/core/plugins/deep-linking/layout.js
Due: eslint --max-warnings 0

fix: tag extraction when multiple slashes are present
  src/core/plugins/deep-linking/layout.js
Due: eslint --max-warnings 0

style: quotes to double quotes
  src/core/plugins/deep-linking/layout.js
Due: eslint --max-warnings 0

test: add unit tests for layout
  test/unit/core/plugins/deep-linking/layout.js
Due: eslint --max-warnings 0

Added "Copy to Clipboard" text to buttons, IAW WCAG 2.x (A) Rule 4.1.2 and Section 508 1194.22
  src/core/components/curl.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
Due: eslint --max-warnings 0

Add alt text for URL image created, IAW WCAG 2.x (A) Rule 1.1.1 and Section 508 1194.22(a)
  src/core/components/response-body.jsx
Due: eslint --max-warnings 0

Changed h4 to h3 headers, as skipping from h2 to h4 can affect screen readers.
  flavors/swagger-ui-react/README.md
  src/core/plugins/err/error-transformers/README.md
Due: none

Update vulnerable 'qs' package and those that depend on it (@cypress/request, body-parser, express)
  package-lock.json
Due: none

Lint fix in syntax-highlighting (prettier rule)
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
Due: eslint --max-warnings 0

Built bundles
  dist/swagger-ui-bundle.js
  dist/swagger-ui-bundle.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-es-bundle.js.LICENSE.txt
  dist/swagger-ui-standalone-preset.js.LICENSE.txt
  dist/swagger-ui.js
  dist/swagger-ui.js.map
Due: eslint --max-warnings 0

Add Aria labels for screen readers
  src/standalone/plugins/top-bar/components/DarkModeToggle.jsx
  src/standalone/plugins/top-bar/components/TopBar.jsx
Due: eslint --max-warnings 0

Adjust contrast on all elements except deprecated APIs
  src/style/_information.scss
  src/style/_variables.scss
Due: stylelint '**/*.scss'

Rebuilt bundles after latest fixes
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui.js
Due: eslint --max-warnings 0

Path conditions:
  eslint --max-warnings 0: any of: *.{js,jsx}
  stylelint '**/*.scss': any of: *.scss
