Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --max-warnings 0"],
  "*.scss": ["stylelint '**/*.scss'"]
}

chore(deps): configure allowed install-time lifecycle scripts (#10988)
  package.json
Due: none

chore(ci): pin 3rd party github actions
  .github/workflows/docker-build-push-unstable.yml
  .github/workflows/docker-build-push.yml
Due: none

chore(ci): pin 3rd party github actions (#10989)
  .github/workflows/dependabot-merge.yml
  .github/workflows/docker-build-push-unstable.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/docker-image-check.yml
  .github/workflows/release-swagger-ui.yml
Due: none

chore(deps): enforce strict installation rules for npm scripts and releases
  .npmrc
Due: none

:fire: enhance accessibility for dark mode toggle button
  src/standalone/plugins/top-bar/components/DarkModeToggle.jsx
Due: eslint --max-warnings 0

feat: enhance accessibility for copy-to-clipboard buttons
  src/core/components/copy-to-clipboard-btn.jsx
  src/core/components/curl.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
Due: eslint --max-warnings 0

:tada: add WCAG accessibility checks for copy-to-clipboard buttons
  .github/workflows/wcag.yml
  package-lock.json
  package.json
  test/e2e-cypress/e2e/a11y/button-accessible-names.cy.js
  test/e2e-cypress/support/e2e.js
Due: eslint --max-warnings 0

test: update programmatic names for response action buttons
  test/e2e-cypress/e2e/a11y/button-accessible-names.cy.js
Due: eslint --max-warnings 0

:sparkles: improve accessibility for copy-to-clipboard buttons
  src/core/components/copy-to-clipboard-btn.jsx
  src/core/components/curl.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
Due: eslint --max-warnings 0

chore(deps): enforce strict installation rules for npm scripts and releases (#10990)
  .npmrc
Due: none

ci: enable npm provenance for package releases
  .github/workflows/release-swagger-ui-dist.yml
  .github/workflows/release-swagger-ui-react.yml
  .github/workflows/release-swagger-ui.yml
  flavors/swagger-ui-react/release/run.sh
  swagger-ui-dist-package/deploy.sh
Due: none

ci: enable npm provenance for package releases (#10991)
  .github/workflows/release-swagger-ui-dist.yml
  .github/workflows/release-swagger-ui-react.yml
  .github/workflows/release-swagger-ui.yml
  flavors/swagger-ui-react/release/run.sh
  swagger-ui-dist-package/deploy.sh
Due: none

chore(deps): bump node to 24.19
  .nvmrc
  CLAUDE.md
  docs/development/setting-up.md
Due: none

chore(deps): bump node to 24.19 (#10993)
  .nvmrc
  CLAUDE.md
  docs/development/setting-up.md
Due: none

docs: update README integration test instructions (#10916)
  README.md
Due: none

fix(ci): authenticate to DockerHub before Trivy scan
  .github/workflows/docker-image-check.yml
Due: none

fix(ci): use correct docker.io image ref for Trivy scan
  .github/workflows/docker-image-check.yml
Due: none

feat(ci): add dependency vulnerability scan alongside docker image scan
  .github/workflows/security-scan.yml
Due: none

fix(ci): fix Trivy security scan and add dependency vulnerability scan (#10996)
  .github/workflows/docker-image-check.yml
  .github/workflows/security-scan.yml
Due: none

docs(perf): add list virtualization implementation plan and perf fixtures (#10984)
  .claude/implementation/perf-virtualization/README.md
  .claude/implementation/perf-virtualization/phase-1-models-virtualization.md
  .claude/implementation/perf-virtualization/phase-2-oas31-models.md
  .claude/implementation/perf-virtualization/phase-3-operations-virtualization.md
  test/e2e-cypress/static/documents/perf/many-operations.yaml
  test/e2e-cypress/static/documents/perf/many-schemas.openapi.yaml
  test/e2e-cypress/static/documents/perf/many-schemas.openapi31.yaml
  test/e2e-cypress/static/documents/perf/many-schemas.swagger.yaml
Due: none

Update README.md
  README.md
Due: none

chore(docs): update broken build and npm audit badges in README.md (#10948)
  README.md
Due: none

fix(a11y): use <strong> for model titles to convey emphasis semantically (#10876)
  src/core/plugins/json-schema-2020-12/components/keywords/Title/Title.jsx
  src/core/plugins/json-schema-5/components/array-model.jsx
  src/core/plugins/json-schema-5/components/model.jsx
  src/core/plugins/json-schema-5/components/models.jsx
  src/core/plugins/json-schema-5/components/object-model.jsx
  src/core/plugins/json-schema-5/components/primitive-model.jsx
  src/style/_models.scss
  test/e2e-selenium/scenarios/bugs/4536.js
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix(a11y): name and state for dark-mode toggle button (#10848)
  src/standalone/plugins/top-bar/components/DarkModeToggle.jsx
Due: eslint --max-warnings 0

fix(a11y): topbar logo and dark-mode toggle visible in HCM (#10847)
  src/style/_topbar.scss
Due: stylelint '**/*.scss'

fix(a11y): trigger Escape e2e test on document instead of body
  test/e2e-cypress/e2e/a11y/authorize-popup.cy.js
Due: eslint --max-warnings 0

fix(a11y): close Authorization popup with Escape key and backdrop click (#10987)
  src/core/components/auth/authorization-popup.jsx
  test/e2e-cypress/e2e/a11y/authorize-popup.cy.js
  test/unit/components/authorization-popup.jsx
Due: eslint --max-warnings 0

fix(a11y): restore icon visibility in Windows High Contrast Mode (#10846)
  src/core/plugins/icons/components/arrow-down.jsx
  src/core/plugins/icons/components/arrow-up.jsx
  src/core/plugins/icons/components/arrow.jsx
  src/core/plugins/icons/components/close.jsx
  src/core/plugins/icons/components/lock.jsx
  src/core/plugins/icons/components/unlock.jsx
  src/core/plugins/json-schema-2020-12/components/icons/ChevronRight.jsx
  src/style/_buttons.scss
  src/style/_dark-mode.scss
  src/style/_form.scss
  src/style/_models.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

refactor(a11y): add accessibility plugin
  src/core/index.js
  src/core/plugins/accessibility/components/skip-to-operations.jsx
  src/core/plugins/accessibility/index.js
  src/core/presets/base/index.js
  src/standalone/plugins/stadalone-layout/components/StandaloneLayout.jsx
  src/standalone/plugins/top-bar/components/TopBar.jsx
  test/unit/core/plugins/accessibility/skip-to-operations.jsx
  test/unit/standalone/plugins/top-bar.jsx
Due: eslint --max-warnings 0

fix(a11y): add skip-to-operations link, banner and main landmarks (#10849)
  src/core/components/layouts/base.jsx
  src/core/index.js
  src/core/plugins/accessibility/components/skip-to-operations.jsx
  src/core/plugins/accessibility/index.js
  src/core/presets/base/index.js
  src/standalone/plugins/stadalone-layout/components/StandaloneLayout.jsx
  src/standalone/plugins/top-bar/components/TopBar.jsx
  src/style/_layout.scss
  test/unit/core/plugins/accessibility/skip-to-operations.jsx
  test/unit/standalone/plugins/top-bar.jsx
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix(a11y): add aria-labels to copy-to-clipboard buttons (#10842)
  src/core/components/curl.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
Due: eslint --max-warnings 0

fix(style): reduce padding on inline code blocks in markdown (#7569) (#10789)
  src/style/_markdown.scss
Due: stylelint '**/*.scss'

fix(ci): bump cycjimmy/semantic-release-action to v4.2.2
  .github/workflows/release-swagger-ui.yml
Due: none

fix(ci): bump cycjimmy/semantic-release-action to v6.0.0
  .github/workflows/release-swagger-ui.yml
Due: none

fix(ci): bump cycjimmy/semantic-release-action to v6.0.0 (#11001)
  .github/workflows/release-swagger-ui.yml
Due: none

chore(release): cut the 5.32.13 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui.css
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  2a33d7805eb5fff693952cebb9203ee113ab4663
Due: none

fix(build): include license and source map in dist (#10979)
  .releaserc
Due: none
