Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

chore: move .claude content to separate branch
  .claude/SKILL_USAGE_EXAMPLE.md
  .claude/skills/README.md
  .claude/skills/add-oas-support.md
Due: none

fix(test): simplify QUERY operation E2E test assertions
  test/e2e-cypress/e2e/features/oas32-query-operation.cy.js
Due: eslint --max-warnings 0

build: update Node to 24.13.1
  .nvmrc
  CLAUDE.md
  docs/development/setting-up.md
  package-lock.json
Due: none

build: update Node to 24.13.1
  package-lock.json
Due: none

fix(deps): update vulnerable dependencies
  package-lock.json
  package.json
Due: none

feat: adds support for 3.1.2
  CLAUDE.md
  README.md
  test/unit/core/plugins/oas31/fn.js
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  f0bbc1c373d5c9813ce0f9f815969814b1e46baa
Due: none

fix(core): remove mistakenly put condition (#10212)
  src/core/containers/OperationContainer.jsx
Due: eslint --max-warnings 0

a11y: add aria-label to focusable cURL and response body elements
  src/core/components/curl.jsx
  src/core/components/response-body.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
  src/core/plugins/syntax-highlighting/components/SyntaxHighlighter.jsx
Due: eslint --max-warnings 0

a11y: add table captions and use th for column headers
  src/core/components/live-response.jsx
  src/core/components/parameters/parameters.jsx
  src/core/components/responses.jsx
  src/style/_table.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix: escape vertical bar character in cURL (CMD) request snippets
  src/core/plugins/request-snippets/fn.js
Due: eslint --max-warnings 0

fix(deps): update swagger-client to v3.36.2 to resolve peer dep issue
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  a398208d1723ce5dae956cb2a060864092d436c0
Due: none

refactor(oas32): address PR review comments
  src/core/plugins/oas31/wrap-components/contact.jsx
  src/core/plugins/oas31/wrap-components/license.jsx
  src/core/plugins/oas32/after-load.js
  src/core/plugins/oas32/components/info.jsx
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/selectors.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  src/core/plugins/oas32/wrap-components/contact.jsx
  src/core/plugins/oas32/wrap-components/info.jsx
  src/core/plugins/oas32/wrap-components/license.jsx
  src/core/plugins/oas32/wrap-components/openapi-version.jsx
  src/core/plugins/spec/selectors.js
  test/unit/core/plugins/oas32/query-operation-rendering.test.js
  test/unit/core/plugins/oas32/spec-extensions/selectors.test.js
  test/unit/core/plugins/oas32/spec-extensions/wrap-selectors.test.js
Due: eslint --max-warnings 0

docs(skills): update add-oas-support skill with OAS 3.2 PR review learnings
  .claude/skills/add-oas-support.md
Due: none

feat(oas32): wire up JSON Schema 2020-12 rendering for OAS 3.2 specs
  src/core/plugins/oas32/after-load.js
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/json-schema-2020-12-extensions/wrap-components/keywords/Description.jsx
  src/core/plugins/oas32/json-schema-2020-12-extensions/wrap-components/keywords/Examples.jsx
  src/core/plugins/oas32/json-schema-2020-12-extensions/wrap-components/keywords/Properties.jsx
  src/core/plugins/oas32/wrap-components/model.jsx
  src/core/plugins/oas32/wrap-components/models.jsx
  test/e2e-cypress/e2e/features/oas32-extension.cy.js
  test/e2e-cypress/e2e/features/plugins/oas32/oas32-json-schema-rendering.cy.js
  test/e2e-cypress/e2e/features/plugins/oas32/oas32-request-body-complex-schema-properties.cy.js
  test/e2e-cypress/e2e/features/plugins/oas32/oas32-schema-expansion.cy.js
  test/e2e-cypress/static/documents/features/oas32-extension.yaml
  test/e2e-cypress/static/documents/features/oas32-json-schema-rendering.yaml
  test/e2e-cypress/static/documents/features/oas32-request-body-complex-schema-properties.yaml
  test/e2e-cypress/static/documents/features/oas32-schema-expansion.yaml
Due: eslint --max-warnings 0

chore(dist): reset dist artifacts to match master branch
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
Due: eslint --max-warnings 0

docs(readme): update next release version to 5.32.0 with OAS 3.2.0 support
  README.md
  test/e2e-cypress/e2e/features/plugins/oas32/oas32-json-schema-rendering.cy.js
Due: eslint --max-warnings 0

fix(dark-mode): add color-scheme property for native dark UI controls
  src/style/_dark-mode.scss
Due: stylelint '**/*.scss'

a11y: make operation expand/collapse button focusable
  src/core/components/operation-summary.jsx
Due: eslint --max-warnings 0

refactor(oas31): restore createOnlyOAS31ComponentWrapper in contact/license wrappers
  .claude/skills/add-oas-support.md
  src/core/plugins/oas31/wrap-components/contact.jsx
  src/core/plugins/oas31/wrap-components/license.jsx
Due: eslint --max-warnings 0

refactor(oas32): add self-contained fn.js and fix cross-plugin import in models wrapper
  src/core/plugins/oas32/json-schema-2020-12-extensions/fn.js
  src/core/plugins/oas32/wrap-components/models.jsx
Due: eslint --max-warnings 0

fix(oas32): update default$schema to OAS 3.2 dialect URL in model wrapper
  src/core/plugins/oas32/wrap-components/model.jsx
Due: eslint --max-warnings 0

chore: bump versions for sass and chromedriver
  package-lock.json
  package.json
Due: none

refactor(oas32): add self-contained Description and Properties components
  src/core/plugins/oas32/json-schema-2020-12-extensions/components/keywords/Description.jsx
  src/core/plugins/oas32/json-schema-2020-12-extensions/components/keywords/Properties.jsx
  src/core/plugins/oas32/json-schema-2020-12-extensions/wrap-components/keywords/Description.jsx
  src/core/plugins/oas32/json-schema-2020-12-extensions/wrap-components/keywords/Properties.jsx
Due: eslint --max-warnings 0

docs(claude): add cross-plugin import guidelines and update metadata
  CLAUDE.md
Due: none

refactor(oas32): eliminate all cross-plugin imports from oas31
  src/core/plugins/oas32/after-load.js
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/oas3-extensions/fn.js
  src/core/plugins/oas32/spec-extensions/selectors.js
  src/core/plugins/oas32/wrap-components/model.jsx
Due: eslint --max-warnings 0

refactor(oas32): reorganize imports in index.js for better grouping
  src/core/plugins/oas32/index.js
Due: eslint --max-warnings 0

fix(oas31): use transparent bg-color for accordion and expand buttons
  src/core/plugins/json-schema-2020-12/components/Accordion/_accordion.scss
  src/core/plugins/json-schema-2020-12/components/ExpandDeepButton/_expand-deep-button.scss
  src/core/plugins/oas31/components/model/_model.scss
Due: stylelint '**/*.scss'

chore(deps): update lockfile
  package-lock.json
Due: none

chore(deps): bump swagger-client from 3.36.2 to 3.37.0
  README.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  1b33a5976d8f5e02d3bc40de1deae3a4a3642e36
Due: none

fix(curl-cmd): escape pipe character in Windows CMD snippets
  src/core/plugins/request-snippets/fn.js
  test/unit/core/cmd-escape-issue.test.js
Due: eslint --max-warnings 0

add support for enum descriptions based on openAPI v3.1 specification (oneof+const pattern) and relevant tests
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/components/layout-utils.jsx
  src/core/components/parameter-row.jsx
  src/core/plugins/json-schema-5/components/json-schema-components.jsx
  test/e2e-cypress/e2e/features/parameter-oneof-const-descriptions.cy.js
  test/e2e-cypress/static/documents/features/parameter-oneof-const-descriptions.yaml
Due: eslint --max-warnings 0

chore(deps): update immutable
  package-lock.json
Due: none

fix(style): use container queries for responsive design
  src/style/_form.scss
  src/style/_layout.scss
  src/style/_mixins.scss
  src/style/_topbar.scss
  src/style/main.scss
Due: stylelint '**/*.scss'

fix: invalidate models components cache based on location
  src/core/plugins/oas31/wrap-components/model.jsx
  src/core/plugins/oas31/wrap-components/models.jsx
  src/core/plugins/oas32/wrap-components/model.jsx
  src/core/plugins/oas32/wrap-components/models.jsx
Due: eslint --max-warnings 0

chore(deps): update deps
  package-lock.json
Due: none

chore(deps): remove exact version pin for dompurify
  package.json
Due: none

Path conditions:
  eslint --max-warnings 0: any of: *.{js,jsx}
  stylelint '**/*.scss': any of: *.scss
