Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

fix(deps): bump swagger-client to v3.37.3
  package-lock.json
  package.json
Due: none

fix(deps): bump swagger-client to v3.37.3 (#10858)
  package-lock.json
  package.json
Due: none

chore(release): cut the 5.32.5 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  dcb493cdbf58fa885047513bd176a644f92c4955
Due: none

fix(docker): emit literal null for string env vars set to "null"
  docker/configurator/translator.js
  test/unit/docker/translator.js
Due: eslint --max-warnings 0

docs(scripts): refresh development scripts reference
  docs/development/scripts.md
Due: none

fix(spec): clear scheme state when loading a new spec url
  src/core/plugins/spec/reducers.js
  test/e2e-cypress/e2e/bugs/5225.cy.js
  test/e2e-cypress/static/documents/bugs/5225-with-schemes.yaml
  test/e2e-cypress/static/documents/bugs/5225-without-schemes.yaml
  test/unit/core/plugins/spec/reducer.js
Due: eslint --max-warnings 0

feat(oas2): support x-examples in body parameter request preview
  src/core/components/param-body.jsx
  test/e2e-cypress/e2e/bugs/3233.cy.js
  test/e2e-cypress/static/documents/bugs/3233.yaml
  test/unit/components/param-body.jsx
Due: eslint --max-warnings 0

fix(a11y): add type="button" to native buttons to prevent host form submission
  src/core/components/auth/authorize-btn.jsx
  src/core/components/auth/authorize-operation-btn.jsx
  src/core/components/clear.jsx
  src/core/components/execute.jsx
  src/core/components/operation-summary.jsx
  src/core/components/operation-tag.jsx
  src/core/components/try-it-out-button.jsx
  src/core/plugins/json-schema-5/components/model-collapse.jsx
  src/core/plugins/json-schema-5/components/model-example.jsx
  src/core/plugins/json-schema-5/components/models.jsx
  src/core/plugins/oas31/components/models/models.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
  src/standalone/plugins/top-bar/components/DarkModeToggle.jsx
  test/e2e-cypress/e2e/bugs/10234.cy.js
  test/e2e-cypress/static/pages/10234/index.html
  test/unit/components/a11y/button-type.jsx
Due: eslint --max-warnings 0

fix(a11y): add aria-label to operations filter input
  src/core/containers/filter.jsx
  test/e2e-cypress/e2e/a11y/filter-input.cy.js
  test/unit/components/filter.jsx
Due: eslint --max-warnings 0

fix(core): suppress synthetic example for binary response media types
  src/core/components/response.jsx
  test/e2e-cypress/e2e/bugs/4791.cy.js
  test/e2e-cypress/static/documents/bugs/4791.yaml
  test/unit/core/plugins/json-schema-5/components/response-octet-stream.jsx
Due: eslint --max-warnings 0

fix(oauth2-redirect): guard window.opener for cross-origin flows
  dev-helpers/oauth2-redirect.js
  test/unit/core/oauth2-redirect.js
Due: eslint --max-warnings 0

fix(json-schema-2020-12-samples): generate samples for prefixItems
  src/core/plugins/json-schema-2020-12-samples/fn/main.js
  test/e2e-cypress/e2e/bugs/10400.cy.js
  test/e2e-cypress/static/documents/bugs/10400.yaml
  test/unit/core/plugins/json-schema-2020-12-samples/fn.js
Due: eslint --max-warnings 0

fix(deps-dev): address undici vulnerability
  package-lock.json
  package.json
Due: none

chore(deps-dev): replace html-webpack-skip-assets-plugin with native excludeChunks
  package-lock.json
  package.json
  webpack/dev.js
Due: eslint --max-warnings 0

fix(a11y): use <strong> for model titles to convey emphasis semantically
  src/core/plugins/json-schema-2020-12/components/keywords/Title/Title.jsx
  src/core/plugins/json-schema-5/components/array-model.jsx
  src/core/plugins/json-schema-5/components/model.jsx
  src/core/plugins/json-schema-5/components/models.jsx
  src/core/plugins/json-schema-5/components/object-model.jsx
  src/core/plugins/json-schema-5/components/primitive-model.jsx
  src/style/_models.scss
  test/e2e-selenium/scenarios/bugs/4536.js
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix(dev): restore swagger-ui.css injection after excludeChunks switch
  dev-helpers/index.html
Due: none

fix(docker): address CVE-2026-27135 nghttp2-libs vulnerability
  Dockerfile
Due: none

chore(deps): swagger-client to 3.37.4
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  dcdca62c8b64a0a54e4decd4e1a6c3c712fdcc60
Due: none

chore(deps): replace local-web-server with serve, migrate oauth2-server to @node-oauth/oauth2-server
  config/jest/jest.artifact.config.js
  package-lock.json
  package.json
  test/e2e-cypress/support/helpers/oauth2-server/index.js
  test/e2e-cypress/support/helpers/oauth2-server/model.js
  test/unit/core/utils.js
Due: eslint --max-warnings 0

fix(oauth2-server): use response object to send properly formatted OAuth2 token response
  test/e2e-cypress/support/helpers/oauth2-server/index.js
Due: eslint --max-warnings 0

fix: 6034 undef authorization code on every attempt
  src/core/oauth2-authorize.js
Due: eslint --max-warnings 0

test: add unit test for deleting authorization code on every pkce attempt
  test/unit/core/oauth2-authorize.js
Due: eslint --max-warnings 0

UPD - test name because it's part of the AC flow
  test/unit/core/oauth2-authorize.js
Due: eslint --max-warnings 0

UPD - remove code at beggining to ensure all execution paths are handled
  src/core/oauth2-authorize.js
Due: eslint --max-warnings 0

UPD - avoid mutating original object
  src/core/oauth2-authorize.js
  test/unit/core/oauth2-authorize.js
Due: eslint --max-warnings 0

fix(json-schema-5-samples): unwrap schema example referencing components.examples
  src/core/plugins/json-schema-5-samples/fn/index.js
  test/e2e-cypress/e2e/bugs/5748.cy.js
  test/e2e-cypress/static/documents/bugs/5748.yaml
  test/unit/core/plugins/json-schema-5-samples/fn/index.js
Due: eslint --max-warnings 0

fix(spec): inherit path-level parameters for cross-file $ref path items
  src/core/plugins/spec/actions.js
  src/core/plugins/spec/path-item-parameters.js
  test/e2e-cypress/e2e/bugs/5667.cy.js
  test/e2e-cypress/static/documents/bugs/5667-pets.yaml
  test/e2e-cypress/static/documents/bugs/5667-root.yaml
  test/unit/core/plugins/spec/path-item-parameters.js
Due: eslint --max-warnings 0

fix(parameters): render items format for array-type parameters
  src/core/plugins/json-schema-5/fn.js
  test/e2e-cypress/e2e/bugs/4516.cy.js
  test/e2e-cypress/static/documents/bugs/4516.yaml
  test/unit/components/parameter-row.jsx
  test/unit/core/plugins/json-schema-5/fn.js
Due: eslint --max-warnings 0

fix(oas3): scope callbacks expansion state by callback name
  src/core/plugins/oas3/components/callbacks.jsx
  test/e2e-cypress/e2e/bugs/5536.cy.js
  test/e2e-cypress/static/documents/bugs/5536.yaml
  test/unit/core/plugins/oas3/callbacks.jsx
Due: eslint --max-warnings 0

test(oas3): add regression coverage for #5460 media-type example switching
  test/e2e-cypress/e2e/bugs/5460.cy.js
  test/e2e-cypress/static/documents/bugs/5460.yaml
  test/unit/components/examples-select.jsx
  test/unit/core/plugins/oas3/state-integration-5460.js
Due: eslint --max-warnings 0

feat(markdown): isolate DomPurify instance to prevent global mutations
  .claude/settings.local.json
  src/core/components/providers/markdown.jsx
Due: eslint --max-warnings 0

fix(perf): debounce request body textarea Redux dispatch to fix typing lag
  src/core/components/param-body.jsx
  src/core/plugins/oas3/components/request-body-editor.jsx
Due: eslint --max-warnings 0

chore(deps-dev): bump brace-expansion affected versions to the latest
  dist/swagger-ui-bundle.js
  dist/swagger-ui-bundle.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-es-bundle.js.LICENSE.txt
  dist/swagger-ui-standalone-preset.js.LICENSE.txt
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  package-lock.json
Due: eslint --max-warnings 0

chore(deps): bump react-copy-to-clipboard from 5.1.0 to 5.1.1
  package-lock.json
  package.json
Due: none

chore(deps-dev): bump brace-expansion affected versions to the latest
  package-lock.json
Due: none

chore(deps-dev): bump brace-expansion affected versions to the latest (#10899)
  package-lock.json
Due: none

fix(a11y): replace <pre> with <span> for version labels
  src/core/components/openapi-version.jsx
  src/core/components/version-stamp.jsx
  src/style/_information.scss
  test/e2e-cypress/e2e/a11y/version-stamp.cy.js
  test/unit/components/version-stamp.jsx
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix(deep-linking): preserve current pathname/search when setting hash
  src/core/plugins/deep-linking/helpers.js
  test/e2e-cypress/e2e/bugs/10591.cy.js
  test/unit/core/plugins/deep-linking/helpers.js
Due: eslint --max-warnings 0

Path conditions:
  eslint --max-warnings 0: any of: *.{js,jsx}
  stylelint '**/*.scss': any of: *.scss
