Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --max-warnings 0"],
  "*.scss": ["stylelint '**/*.scss'"]
}

fix: address the same issues as for schemas
  src/core/components/operations.jsx
  src/core/utils/index.js
  src/core/utils/virtualization.ts
  src/style/_layout.scss
  test/e2e-cypress/e2e/features/operations-virtualization.cy.js
Due: eslint --max-warnings 0, stylelint '**/*.scss'

feat(oas3): make OpenAPI Links interactive via a "Follow Link" action
  src/core/components/response.jsx
  src/core/components/responses.jsx
  src/core/plugins/oas3/actions.js
  src/core/plugins/oas3/components/operation-link.jsx
  src/core/plugins/spec/selectors.js
  test/unit/core/plugins/oas3/actions.js
  test/unit/core/plugins/spec/selectors.js
Due: eslint --max-warnings 0

fix: remember states for re-render
  src/core/components/content-type.jsx
  src/core/components/parameter-row.jsx
  src/core/components/parameters/parameters.jsx
  src/core/components/response.jsx
  src/core/components/responses.jsx
  src/core/containers/OperationContainer.jsx
  src/core/plugins/json-schema-5/components/model-example.jsx
  src/core/plugins/oas3/actions.js
  src/core/plugins/oas3/components/request-body.jsx
  src/core/plugins/oas3/reducers.js
  src/core/plugins/oas3/selectors.js
  src/core/utils/virtualization.ts
  test/unit/components/operations.jsx
  test/unit/core/plugins/json-schema-5/components/model-example.jsx
Due: eslint --max-warnings 0

refactor(deep-linking): convert layout to TypeScript and fix license issue
  src/core/plugins/deep-linking/layout.js
  src/core/plugins/deep-linking/layout.ts
Due: eslint --max-warnings 0

refactor(deep-linking): convert layout to TypeScript and fix license issue (#11028)
  src/core/plugins/deep-linking/layout.js
  src/core/plugins/deep-linking/layout.ts
Due: eslint --max-warnings 0

fix: use scoped DOMPurify instance to avoid mutating global
  src/core/components/providers/markdown.jsx
Due: eslint --max-warnings 0

fix(webpack): add typescript support for dev env
  webpack/dev.js
Due: eslint --max-warnings 0

fix: adjust scroll margin after initial render
  src/core/components/operations.jsx
Due: eslint --max-warnings 0

fix: items repositioning on fast scroll
  src/core/components/operations.jsx
  src/style/_layout.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix: navigation with encoded tags
  src/core/components/operations.jsx
Due: eslint --max-warnings 0

fix: instantly scroll to models with virtualized operations
  src/core/plugins/json-schema-5/components/models.jsx
Due: eslint --max-warnings 0

fix: use scoped DOMPurify instance to avoid mutating global (#11029)
  src/core/components/providers/markdown.jsx
  webpack/dev.js
Due: eslint --max-warnings 0

feat: add virtualization for operations section (#11024)
  src/core/components/content-type.jsx
  src/core/components/operation-tag.jsx
  src/core/components/operations.jsx
  src/core/components/parameter-row.jsx
  src/core/components/parameters/parameters.jsx
  src/core/components/response.jsx
  src/core/components/responses.jsx
  src/core/containers/OperationContainer.jsx
  src/core/plugins/deep-linking/layout.js
  src/core/plugins/json-schema-5/components/model-example.jsx
  src/core/plugins/json-schema-5/components/models.jsx
  src/core/plugins/oas3/actions.js
  src/core/plugins/oas3/components/request-body.jsx
  src/core/plugins/oas3/reducers.js
  src/core/plugins/oas3/selectors.js
  src/core/utils/virtualization.ts
  src/style/_layout.scss
  test/e2e-cypress/e2e/features/operations-virtualization.cy.js
  test/unit/components/operations.jsx
  test/unit/core/plugins/json-schema-5/components/model-example.jsx
Due: eslint --max-warnings 0, stylelint '**/*.scss'

feat: add virtualization for schemas section for OpenAPI 3.1.0 (#11022)
  .claude/implementation/perf-virtualization/phase-2-oas31-models.md
  config/jest/jest.unit.config.js
  package-lock.json
  package.json
  src/core/components/content-type.jsx
  src/core/components/operation-tag.jsx
  src/core/components/operations.jsx
  src/core/components/parameter-row.jsx
  src/core/components/parameters/parameters.jsx
  src/core/components/response.jsx
  src/core/components/responses.jsx
  src/core/containers/OperationContainer.jsx
  src/core/plugins/deep-linking/layout.js
  src/core/plugins/json-schema-2020-12/enum.js
  src/core/plugins/json-schema-2020-12/hooks.js
  src/core/plugins/json-schema-5/components/model-example.jsx
  src/core/plugins/json-schema-5/components/models.jsx
  src/core/plugins/oas3/actions.js
  src/core/plugins/oas3/components/request-body.jsx
  src/core/plugins/oas3/reducers.js
  src/core/plugins/oas3/selectors.js
  src/core/plugins/oas31/components/models/models.jsx
  src/core/plugins/oas31/components/models/schema-item.tsx
  src/core/utils/virtualization.ts
  src/style/_layout.scss
  test/e2e-cypress/e2e/features/models-virtualization.cy.js
  test/e2e-cypress/e2e/features/operations-virtualization.cy.js
  test/e2e-cypress/e2e/features/plugins/oas31/oas31-schema-expansion.cy.js
  test/unit/components/operations.jsx
  test/unit/core/plugins/json-schema-5/components/model-example.jsx
  test/unit/core/plugins/oas31/components/models.tsx
  test/unit/tsconfig.json
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix: V-001 security vulnerability
  docker/configurator/index.js
Due: eslint --max-warnings 0

chore(release): cut the 5.32.15 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-bundle.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-es-bundle.js.LICENSE.txt
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui-standalone-preset.js.LICENSE.txt
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  eb37d16243388857e5b7c68c93fd04635c7c96fa
Due: none

fix(json-schema): handle scientific multipleOf values
  src/core/plugins/json-schema-2020-12/fn.js
  test/unit/core/plugins/oas31/fn.js
Due: eslint --max-warnings 0

test(deep-linking): cover tags containing slashes
  test/e2e-cypress/e2e/features/deep-linking.cy.js
  test/e2e-cypress/static/documents/features/deep-linking.openapi.yaml
  test/e2e-cypress/static/documents/features/deep-linking.swagger.yaml
  test/unit/core/plugins/deep-linking/index.js
  test/unit/core/plugins/deep-linking/layout.js
Due: eslint --max-warnings 0

feat: display redirect URL in authorize dialogue
  src/core/components/auth/oauth2.jsx
  test/unit/components/oauth2.jsx
Due: eslint --max-warnings 0

fix: Operation copy-to-clipboard icon visibility.
  src/core/components/copy-to-clipboard-btn.jsx
  src/core/plugins/icons/components/copy.jsx
  src/core/plugins/icons/index.js
  src/style/_buttons.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

refactor: migrate CopyToClipboardBtn to TypeScript
  src/core/components/copy-to-clipboard-btn.jsx
  src/core/components/copy-to-clipboard-btn.tsx
Due: eslint --max-warnings 0

refactor: drop React.FC in favour of plain typed function
  src/core/components/copy-to-clipboard-btn.tsx
Due: none

fix(icons): operation copy-to-clipboard icon visibility (#11050)
  src/core/components/copy-to-clipboard-btn.jsx
  src/core/components/copy-to-clipboard-btn.tsx
  src/core/plugins/icons/components/copy.jsx
  src/core/plugins/icons/index.js
  src/style/_buttons.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

chore(deps): bump swagger-client to v3.38.2
  .npmrc
  package-lock.json
  package.json
Due: none

chore(deps): bump swagger-client to v3.38.2 (#11051)
  .npmrc
  package-lock.json
  package.json
Due: none

chore(release): cut the 5.33.0 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  cfd4a6c3cbaeeb7c13a8bada7c754de42d78cd5b
Due: none

Add support for HTTP QUERY method with request snippets and tests
  cypress.config.js
  docs/usage/configuration.md
  docs/usage/cors.md
  docs/usage/http-query-method.md
  src/core/plugins/request-snippets/fn.js
  test/e2e-cypress/e2e/features/query-method.cy.js
  test/e2e-cypress/static/documents/features/query-method.yaml
  test/e2e-cypress/support/helpers/query-method-server/index.js
  test/unit/core/plugins/request-snippets/fn.test.js
  test/unit/core/plugins/spec/selectors.js
Due: eslint --max-warnings 0

chore(deps): bump node to 24.21
  .nvmrc
  CLAUDE.md
  docs/development/setting-up.md
Due: none

fix(oas31): cache Model HOC per includeReadOnly/includeWriteOnly
  src/core/plugins/oas31/wrap-components/model.jsx
  src/core/plugins/oas32/wrap-components/model.jsx
  test/unit/core/plugins/oas31/wrap-components/model.tsx
  test/unit/core/plugins/oas32/wrap-components/model.tsx
Due: eslint --max-warnings 0

Add Nom document
  Nom.rtfd/Screenshot 2026-05-24 at 11.40.48 AM.png
  Nom.rtfd/TXT.rtf
Due: none

fix(resolver): handle nested external array item refs
  src/core/plugins/swagger-client/index.js
  test/e2e-cypress/e2e/bugs/11018.cy.js
  test/e2e-cypress/static/documents/bugs/11018/openapi.yml
  test/e2e-cypress/static/documents/bugs/11018/paths/charts.yml
  test/e2e-cypress/static/documents/bugs/11018/schemas/chart.yml
Due: eslint --max-warnings 0

fix(resolver): isolate strict fallback input
  src/core/plugins/swagger-client/index.js
  test/e2e-cypress/e2e/bugs/11018.cy.js
Due: eslint --max-warnings 0

fix(resolver): use strict mode for external refs
  src/core/plugins/swagger-client/index.js
  test/e2e-cypress/e2e/bugs/11018.cy.js
Due: eslint --max-warnings 0

fix(resolver): follow local refs to external schemas
  src/core/plugins/swagger-client/index.js
Due: eslint --max-warnings 0

fix(resolver): isolate strict retry cache
  src/core/plugins/swagger-client/index.js
Due: eslint --max-warnings 0

fix(resolver): clear cache after failed resolution
  src/core/plugins/swagger-client/index.js
Due: eslint --max-warnings 0
