Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

fix: provide polyfill for buffer in build (#10554)
  package-lock.json
  package.json
  webpack/_config-builder.js
Due: eslint --max-warnings 0

chore(release): cut the 5.28.1 release
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4dea377ca41ca88aaec3939ac7b720b99c17c10e
Due: none

feat(oauth2-redirect): externalize inline script for CSP compliance
  dev-helpers/oauth2-redirect.html
  dev-helpers/oauth2-redirect.js
Due: eslint --max-warnings 0

UPD - file with eslint spec rules
  dev-helpers/oauth2-redirect.js
Due: eslint --max-warnings 0

build: include dist in the release commit
  .releaserc
  package-lock.json
  package.json
  webpack/bundle.js
Due: eslint --max-warnings 0

feat(oauth2-redirect): externalize inline script for CSP compliance (#10559)
  dev-helpers/oauth2-redirect.html
  dev-helpers/oauth2-redirect.js
Due: eslint --max-warnings 0

Update .releaserc
  .releaserc
Due: none

build: include dist in the release commit (#10564)
  .releaserc
  package-lock.json
  package.json
  webpack/bundle.js
Due: eslint --max-warnings 0

chore(release): cut the 5.29.0 release
  dist/oauth2-redirect.html
  dist/oauth2-redirect.js
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui.css
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  26e6d3cce2a49195681116c97318b2a38c06e21c
Due: none

chore(dev-deps): update vulnerable dependencies
  package-lock.json
  package.json
  test/e2e-cypress/support/helpers/oauth2-server/index.js
Due: eslint --max-warnings 0

chore(dev-deps): update vulnerable dependencies
  package-lock.json
Due: none

feat: add inline security scope display for API endpoints
  src/core/components/auth/scope-display.jsx
  src/core/components/operation-summary.jsx
  src/core/plugins/auth/selectors.js
  src/core/presets/base/plugins/core-components/index.js
  src/style/_authorize.scss
  test/unit/components/auth/scope-display.jsx
Due: eslint --max-warnings 0, stylelint '**/*.scss'

chore(deps): bump dompurify from 3.2.4 to 3.2.6
  package-lock.json
  package.json
Due: none

test: fix tests
  test/unit/components/markdown.jsx
  test/unit/xss/markdown-script-sanitization.jsx
Due: eslint --max-warnings 0

chore(deps): bump dompurify from 3.2.4 to 3.2.6 (#10572)
  package-lock.json
  package.json
  test/unit/components/markdown.jsx
  test/unit/xss/markdown-script-sanitization.jsx
Due: eslint --max-warnings 0

Remove @scarf/scarf analytics dependency
  README.md
  flavors/swagger-ui-react/README.md
  package-lock.json
  package.json
  swagger-ui-dist-package/README.md
  swagger-ui-dist-package/package.json
Due: none

chore(deps): bump libexpat to 2.7.2-r0
  Dockerfile
Due: none

fix(security): update Axios to non-vulnerable 1.12.2 version
  package-lock.json
  package.json
Due: none

fix(security): update Axios to non-vulnerable 1.12.2 version (#10579)
  package-lock.json
  package.json
Due: none

chore(deps): bump libexpat to 2.7.2-r0 (#10578)
  Dockerfile
Due: none

chore(release): cut the 5.29.1 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  507a3bfe5c402f27a378d7fb8e2bb1446604b006
Due: none

chore: remove @scarf/scarf from swagger-ui
  dist/oauth2-redirect.js
  dist/swagger-ui-bundle.js
  dist/swagger-ui-bundle.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-es-bundle.js.LICENSE.txt
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui-standalone-preset.js.LICENSE.txt
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  package-lock.json
  package.json
  swagger-ui-dist-package/package.json
Due: eslint --max-warnings 0

fix: include oauth2-redirect.js in npm package
  .npmignore
Due: none

Add documentation for oauth2-redirect.js packaging fix
  FIX_DOCUMENTATION.md
Due: none

Remove FIX_DOCUMENTATION.md as requested by maintainer
  FIX_DOCUMENTATION.md
Due: none

fix: include oauth2-redirect.js in npm package distribution (#10585)
  .npmignore
Due: none

chore(release): cut the 5.29.2 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  62b6d320ef0fe1addd0487e55006f5306fc1e945
Due: none

feat: display numeric constraints for parameters
  src/core/components/parameter-row.jsx
  test/unit/components/parameter-row.jsx
Due: eslint --max-warnings 0

feat: improve responsive design for screens below 360px
  src/style/_layout.scss
Due: stylelint '**/*.scss'

fix(auth): ensure schema is immutable when authorizing
  src/core/plugins/auth/wrap-actions.js
  test/unit/core/plugins/auth/wrap-actions.js
Due: eslint --max-warnings 0

fix(auth): ensure schema is immutable when persisting authorization (#10588)
  src/core/plugins/auth/wrap-actions.js
  test/unit/core/plugins/auth/wrap-actions.js
Due: eslint --max-warnings 0

chore(release): cut the 5.29.3 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  5f5e006931b77c5f9fe2613143ab435f0c059a8f
Due: none

refactor: improve parameter constraints implementation based on review
  src/core/components/parameter-row.jsx
  src/core/plugins/json-schema-2020-12/fn.js
  src/core/plugins/json-schema-2020-12/index.js
  src/core/plugins/json-schema-5/fn.js
  src/core/plugins/json-schema-5/index.js
  test/unit/components/parameter-constraints.spec.js
  test/unit/core/plugins/constraint-functions.spec.js
Due: eslint --max-warnings 0

Update package-lock.json
  package-lock.json
Due: none

PR feedback
  src/core/components/content-type.jsx
Due: eslint --max-warnings 0

Path conditions:
  eslint --max-warnings 0: any of: *.{js,jsx}
  stylelint '**/*.scss': any of: *.scss
