Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --max-warnings 0"],
  "*.scss": ["stylelint '**/*.scss'"]
}

PR form completed
  .github/image-1.png
  .github/image.png
  .github/pull_request_template.md
Due: none

refactor: reduce conversion from immutablejs to plain js objects
  src/core/components/operation-summary-path.jsx
  src/core/components/operation-summary.jsx
  src/core/components/operation.jsx
  src/core/plugins/json-schema-5-samples/fn/get-sample-schema.js
  src/core/plugins/oas3/components/request-body.jsx
  test/e2e-cypress/e2e/bugs/5188.cy.js
Due: eslint --max-warnings 0

docs: add comprehensive CLAUDE.md guide for AI assistants
  CLAUDE.md
Due: none

chore(deps): update deps
  package-lock.json
  package.json
Due: none

docs: add comprehensive CLAUDE.md guide for AI assistants (#10687)
  CLAUDE.md
Due: none

chore(deps): update deps
  package-lock.json
Due: none

chore(deps): node22
  .github/workflows/nodejs.yml
Due: none

chore(deps): update package-lock
  package-lock.json
Due: none

docs: add claude skill for adding support for new oas version
  .claude/SKILL_USAGE_EXAMPLE.md
  .claude/skills/README.md
  .claude/skills/add-oas-support.md
Due: none

feat: add OAS 3.2 support
  CLAUDE.md
  README.md
  dev-helpers/dev-helper-initializer.js
  dist/swagger-ui-bundle.js
  dist/swagger-ui-bundle.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-es-bundle.js.LICENSE.txt
  dist/swagger-ui-standalone-preset.js.LICENSE.txt
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  docs/oas32-specification-analysis.md
  src/core/plugins/oas31/wrap-components/contact.jsx
  src/core/plugins/oas31/wrap-components/license.jsx
  src/core/plugins/oas32/after-load.js
  src/core/plugins/oas32/components/info.jsx
  src/core/plugins/oas32/components/self-uri.jsx
  src/core/plugins/oas32/components/version-pragma-filter.jsx
  src/core/plugins/oas32/fn.js
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/selectors.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  src/core/plugins/oas32/wrap-components/info.jsx
  src/core/plugins/oas32/wrap-components/version-pragma-filter.jsx
  src/core/presets/apis/index.js
  test/e2e-cypress/e2e/features/oas-badge.cy.js
  test/e2e-cypress/e2e/features/oas32-contact-and-license.cy.js
  test/e2e-cypress/e2e/features/oas32/oas32-component-only.cy.js
  test/e2e-cypress/e2e/features/oas32/oas32-self-uri.cy.js
  test/e2e-cypress/e2e/features/oas32/oas32-version-detection.cy.js
  test/e2e-cypress/static/documents/oas32/component-only.yaml
  test/e2e-cypress/static/documents/oas32/contact-and-license.yaml
  test/e2e-cypress/static/documents/oas32/oas32-features.yaml
  test/unit/core/plugins/oas32/components/self-uri.jsx
  test/unit/core/plugins/oas32/components/version-pragma-filter.jsx
  test/unit/core/plugins/oas32/fn.js
  test/unit/core/plugins/oas32/spec-extensions/selectors.js
Due: eslint --max-warnings 0

feat(oas32): add QUERY operation support
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/selectors.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  src/style/_layout.scss
  src/style/_variables.scss
  test/e2e-cypress/e2e/features/oas32/oas32-query-operation.cy.js
  test/e2e-cypress/static/documents/features/oas32-query-operation.yaml
  test/unit/core/plugins/oas32/selectors.test.js
Due: eslint --max-warnings 0, stylelint '**/*.scss'

style: auto-format oas32-contact-and-license test
  test/e2e-cypress/e2e/features/oas32-contact-and-license.cy.js
Due: eslint --max-warnings 0

feat(oas32): add querystring parameter support
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/components/parameter-row.jsx
  src/style/_table.scss
  test/e2e-cypress/e2e/features/oas32/oas32-querystring-parameter.cy.js
  test/e2e-cypress/static/documents/features/oas32-querystring-parameter.yaml
Due: eslint --max-warnings 0, stylelint '**/*.scss'

feat(oas32): add additionalOperations rendering support
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/components/layouts/base.jsx
  src/core/plugins/oas32/components/additional-operations.jsx
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/selectors.js
  src/style/_layout.scss
  test/e2e-cypress/e2e/features/oas32/oas32-additional-operations.cy.js
  test/e2e-cypress/static/documents/features/oas32-additional-operations.yaml
  test/unit/core/plugins/oas32/spec-extensions/selectors.js
Due: eslint --max-warnings 0, stylelint '**/*.scss'

feat(oas32): add tag enhancements (summary, kind, parent)
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/selectors.js
  src/core/plugins/oas32/wrap-components/operation-tag.jsx
  src/style/_layout.scss
  test/e2e-cypress/e2e/features/oas32/oas32-tag-enhancements.cy.js
  test/e2e-cypress/static/documents/features/oas32-tag-enhancements.yaml
  test/unit/core/plugins/oas32/spec-extensions/selectors.js
Due: eslint --max-warnings 0, stylelint '**/*.scss'

feat(oas32): add Components mediaTypes section with itemSchema support
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/components/layouts/base.jsx
  src/core/plugins/oas32/components/media-types.jsx
  src/core/plugins/oas32/index.js
  src/style/_layout.scss
  test/e2e-cypress/e2e/features/oas32/oas32-media-types.cy.js
  test/e2e-cypress/static/documents/features/oas32-media-types.yaml
Due: eslint --max-warnings 0, stylelint '**/*.scss'

test(oas32): add comprehensive OAS 3.2 feature verification tests
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  test/e2e-cypress/e2e/features/oas32/oas32-inheritance-verification.cy.js
  test/e2e-cypress/static/documents/features/oas32-full-spec.yaml
Due: eslint --max-warnings 0

fix(oas32): use createOnlyOAS32ComponentWrapper for OperationTag wrapper
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/wrap-components/operation-tag.jsx
Due: eslint --max-warnings 0

fix(oas32): correct OperationTag wrapper pattern to fix infinite loading
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/wrap-components/operation-tag.jsx
Due: eslint --max-warnings 0

fix(oas32): pass isOAS31 and isOAS32 props to VersionPragmaFilter
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/components/layouts/base.jsx
Due: eslint --max-warnings 0

fix(oas32): wrap isOAS3 selector to enable OAS3 features for OAS 3.2
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
Due: eslint --max-warnings 0

fix(oas32): wrap operations selector to include QUERY method operations
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
Due: eslint --max-warnings 0

fix(oas32): correct operations selector wrapper pattern for QUERY operations
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  test/unit/core/plugins/oas32/spec-extensions/wrap-selectors.test.js
Due: eslint --max-warnings 0

fix(oas32): correct selector implementations to fix runtime errors
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/selectors.js
  test/unit/core/plugins/oas32/spec-extensions/selectors.js
  test/unit/core/plugins/oas32/spec-extensions/selectors.test.js
  test/unit/core/plugins/oas32/wrap-components/operation-tag.test.jsx
Due: eslint --max-warnings 0

test(oas32): add comprehensive QUERY operation rendering verification
  dist/swagger-ui.js
  docs/oas32-query-operation-verification.md
  test/e2e-cypress/e2e/features/oas32-query-operation.cy.js
  test/e2e-cypress/static/documents/features/oas32-query-operation.yaml
  test/unit/core/plugins/oas32/query-operation-rendering.test.js
Due: eslint --max-warnings 0

fix(oas32): enable QUERY operation support in core selectors
  src/core/containers/OperationContainer.jsx
  src/core/plugins/oas32/index.js
  src/core/plugins/oas32/spec-extensions/wrap-selectors.js
  src/core/plugins/spec/selectors.js
  test/e2e-cypress/e2e/features/oas32/oas32-query-operation.cy.js
  test/e2e-cypress/static/documents/features/oas32-query-operation.yaml
  test/unit/core/plugins/oas32/query-operation-rendering.test.js
Due: eslint --max-warnings 0

style(oas32): add dark mode colors for QUERY operations
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  src/style/_dark-mode.scss
Due: stylelint '**/*.scss'

style(oas32): fix example description text visibility in dark mode
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  src/style/_dark-mode.scss
Due: stylelint '**/*.scss'

style: improve contrast for example section labels in dark mode
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  src/style/_dark-mode.scss
Due: stylelint '**/*.scss'

fix(utils): disallow schema type array value string
  src/core/utils/index.js
  test/unit/core/utils.js
Due: eslint --max-warnings 0

Accessibility: Easier to access Authorization
  src/style/_layout.scss
  src/style/_modal.scss
Due: stylelint '**/*.scss'

fix: 6034 undef authorization code on every attempt
  src/core/oauth2-authorize.js
Due: eslint --max-warnings 0

test: add unit test for deleting authorization code on every pkce attempt
  test/unit/core/oauth2-authorize.js
Due: eslint --max-warnings 0

fix(deps): align the tree-sitter version
  package-lock.json
  package.json
Due: none

fix(utils): disallow schema type array value string
  test/e2e-cypress/e2e/features/try-it-out-schema-type-array-example-type-string.cy.js
  test/e2e-cypress/static/documents/features/try-it-out-schema-type-array-example-type-string.yaml
Due: eslint --max-warnings 0

fix(utils): disallow schema type array value string
  test/e2e-cypress/e2e/features/try-it-out-schema-type-array-example-type-string.cy.js
Due: eslint --max-warnings 0

fix(deps): align the tree-sitter version (#10694)
  package-lock.json
  package.json
Due: none

fix(utils): disallow schema type array value string (#10691)
  src/core/utils/index.js
  test/e2e-cypress/e2e/features/try-it-out-schema-type-array-example-type-string.cy.js
  test/e2e-cypress/static/documents/features/try-it-out-schema-type-array-example-type-string.yaml
  test/unit/core/utils.js
Due: eslint --max-warnings 0

Disable error animations for users with reduced motion preference
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  src/style/_errors.scss
  src/style/_mixins.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'
