Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --max-warnings 0"],
  "*.scss": ["stylelint '**/*.scss'"]
}

:sparkles: improve accessibility for copy-to-clipboard buttons
  src/core/components/copy-to-clipboard-btn.jsx
  src/core/components/curl.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
Due: eslint --max-warnings 0

:tada: add WCAG accessibility checks for copy-to-clipboard buttons
  .github/workflows/wcag.yml
  test/e2e-cypress/e2e/a11y/button-accessible-names.cy.js
  test/e2e-cypress/support/e2e.js
Due: eslint --max-warnings 0

test: update programmatic names for response action buttons
  test/e2e-cypress/e2e/a11y/button-accessible-names.cy.js
Due: eslint --max-warnings 0

remove WCAG checks and related dependencies
  .github/workflows/wcag.yml
  test/e2e-cypress/e2e/a11y/button-accessible-names.cy.js
  test/e2e-cypress/support/e2e.js
Due: eslint --max-warnings 0

remove: delete button accessible names test file
  test/e2e-cypress/e2e/a11y/button-accessible-names.cy.js
Due: eslint --max-warnings 0

fix(a11y): add accessible names for buttons
  src/core/components/copy-to-clipboard-btn.jsx
  src/core/components/curl.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
  src/standalone/plugins/top-bar/components/DarkModeToggle.jsx
Due: eslint --max-warnings 0

chore(deps-dev): bump cypress, webpack-dev-server, react-refresh-webpack-plugin
  package-lock.json
  package.json
Due: none

chore(deps-dev): bump cypress to 15.20.0; revert webpack-dev-server to 5.x
  package-lock.json
  package.json
Due: none

fix(e2e): migrate cy.stub to callsFake for Cypress 15 compatibility
  test/e2e-cypress/e2e/security/oauth2.cy.js
Due: eslint --max-warnings 0

chore(deps-dev): bump cypress, @pmmmwh/react-refresh-webpack-plugin (#11008)
  package-lock.json
  package.json
  test/e2e-cypress/e2e/security/oauth2.cy.js
Due: eslint --max-warnings 0

chore(deps): bump swagger-client to 3.38.0
  package-lock.json
  package.json
Due: none

chore(deps): bump swagger-client to 3.38.0 (#11009)
  package-lock.json
  package.json
Due: none

chore(docs): consolidate swagger-client naming
  docs/usage/configuration.md
  flavors/swagger-ui-react/README.md
  src/core/plugins/auth/actions.js
  webpack/_config-builder.js
Due: eslint --max-warnings 0

chore(build): add TypeScript support to toolchain
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  babel.config.js
  package-lock.json
  package.json
  tsconfig.json
  webpack/_config-builder.js
Due: eslint --max-warnings 0

chore(build): upgrade TypeScript target and lib to ES2023
  tsconfig.json
Due: none

chore(build): downgrade TypeScript to 6.0.3 and enforce TS-only new files
  CLAUDE.md
  package-lock.json
  package.json
Due: none

chore(build): remove broken types field from package.json
  package.json
Due: none

chore(build): configure tsconfig to emit declarations to dist/types
  tsconfig.json
Due: none

fix(dark-mode): indicate dark color-scheme for native browser controls (#10844)
  src/style/_dark-mode.scss
Due: stylelint '**/*.scss'

chore(docs): consolidate swagger-client naming (#11015)
  docs/usage/configuration.md
  flavors/swagger-ui-react/README.md
  src/core/plugins/auth/actions.js
  webpack/_config-builder.js
Due: eslint --max-warnings 0

chore(build): add TypeScript support to toolchain (#11000)
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  CLAUDE.md
  babel.config.js
  package-lock.json
  package.json
  tsconfig.json
  webpack/_config-builder.js
Due: eslint --max-warnings 0

chore(release): cut the 5.32.14 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-bundle.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle-core.js.LICENSE.txt
  dist/swagger-ui-es-bundle-core.js.map
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-es-bundle.js.LICENSE.txt
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui-standalone-preset.js.LICENSE.txt
  dist/swagger-ui.css
  dist/swagger-ui.css.map
  dist/swagger-ui.js
  dist/swagger-ui.js.map
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  6e8ce248db64190e4113676aba996943c56f2491
Due: none

feat: add virtualization for schema section
  .claude/implementation/perf-virtualization/phase-1-models-virtualization.md
  package-lock.json
  package.json
  src/core/plugins/deep-linking/layout.js
  src/core/plugins/json-schema-5/components/models.jsx
  src/core/utils/index.js
  src/style/_models.scss
  test/e2e-cypress/e2e/features/models-virtualization.cy.js
  test/e2e-cypress/e2e/features/plugins/oas3/complex-spec.cy.js
  test/unit/core/plugins/json-schema-5/components/models.jsx
  test/unit/jest-shim.js
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix: preserve expanded state for nested properties
  src/core/plugins/json-schema-5/components/array-model.jsx
  src/core/plugins/json-schema-5/components/object-model.jsx
  src/core/plugins/json-schema-5/components/primitive-model.jsx
  test/e2e-cypress/e2e/features/models-virtualization.cy.js
Due: eslint --max-warnings 0

fix: memoize model items
  src/core/plugins/json-schema-5/components/models.jsx
Due: eslint --max-warnings 0

fix(config): include query in default supportedSubmitMethods
  docs/usage/configuration.md
  flavors/swagger-ui-react/index.jsx
  src/core/config/defaults.js
Due: eslint --max-warnings 0

feat: add virtualization for schemas section for OpenAPI 3.1.0
  .claude/implementation/perf-virtualization/phase-2-oas31-models.md
  src/core/plugins/json-schema-2020-12/enum.js
  src/core/plugins/json-schema-2020-12/hooks.js
  src/core/plugins/oas31/components/models/models.jsx
  test/e2e-cypress/e2e/features/models-virtualization.cy.js
  test/e2e-cypress/e2e/features/plugins/oas31/oas31-schema-expansion.cy.js
  test/unit/core/plugins/oas31/components/models.jsx
Due: eslint --max-warnings 0

fix: add display name for schema item
  src/core/plugins/oas31/components/models/models.jsx
Due: eslint --max-warnings 0

chore(deps): update allowScripts
  package.json
Due: none

feat: add virtualization for operations section
  src/core/components/operation-tag.jsx
  src/core/components/operations.jsx
  src/core/plugins/deep-linking/layout.js
  src/core/utils/index.js
  test/e2e-cypress/e2e/features/operations-virtualization.cy.js
  test/unit/components/operations.jsx
Due: eslint --max-warnings 0

fix(oas32): include query in default supportedSubmitMethods (#11021)
  docs/usage/configuration.md
  flavors/swagger-ui-react/index.jsx
  src/core/config/defaults.js
Due: eslint --max-warnings 0

fix: address code review comments
  .eslintrc.js
  package-lock.json
  package.json
  src/core/plugins/json-schema-5/components/model-item.tsx
  src/core/plugins/json-schema-5/components/models.jsx
  src/core/utils/index.js
  src/core/utils/virtualization.ts
  src/style/_models.scss
  test/e2e-cypress/e2e/features/models-virtualization.cy.js
  test/e2e-cypress/e2e/features/plugins/oas3/complex-spec.cy.js
  webpack/dev.js
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix: address the same issues as for oas2/3
  src/core/plugins/oas31/components/models/models.jsx
  src/core/plugins/oas31/components/models/schema-item.tsx
  src/core/utils/virtualization.ts
  test/e2e-cypress/e2e/features/models-virtualization.cy.js
Due: eslint --max-warnings 0

refactor(deps): replace redux-immutable with custom combineReducers and migrate to Immutable.js v5
  .eslintrc.js
  package-lock.json
  package.json
  src/core/components/headers.jsx
  src/core/components/operation-tag.jsx
  src/core/oauth2-authorize.js
  src/core/plugins/deep-linking/layout.js
  src/core/plugins/json-schema-5/components/json-schema-components.jsx
  src/core/plugins/json-schema-5/components/model-collapse.jsx
  src/core/plugins/json-schema-5/components/models.jsx
  src/core/system.js
  src/core/utils/combine-reducers.ts
  src/core/utils/get-parameter-schema.js
  src/core/utils/index.js
  test/unit/core/utils.js
Due: eslint --max-warnings 0

fix(deps): update package-lock.json
  package-lock.json
Due: none

fix: rewrite new tests to typescript
  config/jest/jest.unit.config.js
  package-lock.json
  package.json
  test/unit/core/plugins/oas31/components/models.tsx
  test/unit/tsconfig.json
Due: eslint --max-warnings 0

chore: update .eslintrc.js
  .eslintrc.js
Due: eslint --max-warnings 0

fix: add memo for schema entries
  src/core/plugins/oas31/components/models/models.jsx
Due: eslint --max-warnings 0

fix: use callback for models expansion fn
  src/core/plugins/json-schema-5/components/models.jsx
Due: eslint --max-warnings 0
