Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --max-warnings 0"],
  "*.scss": ["stylelint '**/*.scss'"]
}

fix(docker): upgrade alpine packages to address HIGH severity CVEs (#10830)
  Dockerfile
Due: none

fix(authorization): increase backdrop z-index (#10831)
  src/style/_layout.scss
Due: stylelint '**/*.scss'

chore(release): cut the 5.32.4 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.css
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  34d6186846b6b8a72024d43521efd71087203b08
Due: none

refactor(oas3): improve servers component layout and structure
  src/core/plugins/oas3/components/servers.jsx
  src/style/_servers.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix(spec): handle requestBody with no content without crashing
  src/core/plugins/spec/selectors.js
Due: eslint --max-warnings 0

fix(auth): use Immutable Map as fallback in logout cookie deletion
  src/core/plugins/auth/wrap-actions.js
Due: eslint --max-warnings 0

fix(style): markdown list items default text color in Dark Mode (#10790) (#10791)
  src/style/_dark-mode.scss
Due: stylelint '**/*.scss'

reuse existing getModelName
  src/core/plugins/json-schema-5/components/model.jsx
  src/core/plugins/oas31/components/model/model.jsx
  src/core/plugins/oas31/json-schema-2020-12-extensions/fn.js
  src/core/utils/get-model-name.js
  test/unit/core/helpers/get-model-name.js
  test/unit/core/plugins/oas31/json-schema-2020-12-extensions/fn.js
Due: eslint --max-warnings 0

test(spec): add coverage for getOAS3RequiredRequestBodyContentType
  test/unit/core/plugins/spec/selectors.js
Due: eslint --max-warnings 0

fix(dark-mode): indicate dark color-scheme for native browser controls
  src/style/_dark-mode.scss
Due: stylelint '**/*.scss'

fix(a11y): icon SVGs use currentColor for HCM visibility
  src/core/plugins/icons/components/arrow-down.jsx
  src/core/plugins/icons/components/arrow-up.jsx
  src/core/plugins/icons/components/arrow.jsx
  src/core/plugins/icons/components/close.jsx
  src/core/plugins/icons/components/lock.jsx
  src/core/plugins/icons/components/unlock.jsx
  src/core/plugins/json-schema-2020-12/components/icons/ChevronRight.jsx
  src/style/_buttons.scss
  src/style/_dark-mode.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix(a11y): data-URL icon chevrons render in HCM via mask-image
  src/style/_buttons.scss
  src/style/_dark-mode.scss
  src/style/_form.scss
  src/style/_models.scss
Due: stylelint '**/*.scss'

fix(a11y): topbar logo and dark-mode toggle visible in HCM
  src/style/_topbar.scss
Due: stylelint '**/*.scss'

fix(a11y): name and state for dark-mode toggle button
  src/standalone/plugins/top-bar/components/DarkModeToggle.jsx
Due: eslint --max-warnings 0

fix(a11y): add skip-to-operations link, banner and main landmarks
  src/core/components/layouts/base.jsx
  src/standalone/plugins/stadalone-layout/components/StandaloneLayout.jsx
  src/style/_layout.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix(operation): recognize wildcard HTTP status codes as documented responses
  src/core/components/operation.jsx
Due: eslint --max-warnings 0

fix(core): remove debug code that runs in production builds
  src/core/components/debug.jsx
  src/core/components/examples-select-value-retainer.jsx
  src/core/components/examples-select.jsx
Due: eslint --max-warnings 0

fix(topbar): handle empty urls array without crashing
  src/standalone/plugins/top-bar/components/TopBar.jsx
Due: eslint --max-warnings 0

fix(oas3): show request body description for file upload content types
  src/core/plugins/oas3/components/request-body.jsx
Due: eslint --max-warnings 0

fix(config): add missing queryConfigEnabled to type-cast mappings
  src/core/config/type-cast/mappings.js
Due: eslint --max-warnings 0

docs(configuration): add missing config options to documentation
  docs/usage/configuration.md
Due: none

fix(config): fix parameterMacro typo in type-cast mappings
  src/core/config/type-cast/mappings.js
Due: eslint --max-warnings 0

fix(a11y): add aria-labels to copy-to-clipboard buttons
  src/core/components/curl.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
Due: eslint --max-warnings 0

test(auth): cover logout when payload contains unauthorized names
  test/unit/core/plugins/auth/wrap-actions.js
Due: eslint --max-warnings 0

docs(auth): explain why logout payload may reference missing entries
  src/core/plugins/auth/wrap-actions.js
Due: eslint --max-warnings 0

Revert "Accessibility: Easier to access Authorization (#10692)"
  src/style/_layout.scss
  src/style/_modal.scss
Due: stylelint '**/*.scss'

Revert "Accessibility: Easier to access Authorization (#10692)" (#10850)
  src/style/_layout.scss
  src/style/_modal.scss
Due: stylelint '**/*.scss'

test(oas3): cover request body description for file upload content types
  test/unit/core/plugins/oas3/components/request-body.jsx
Due: eslint --max-warnings 0

fix(auth): emit scheme-name keys from logoutClick under Immutable v4
  src/core/components/auth/auths.jsx
  src/core/plugins/auth/wrap-actions.js
  src/core/plugins/oas31/components/auth/auths.jsx
  test/unit/core/components/auth/auths.jsx
  test/unit/core/plugins/auth/wrap-actions.js
Due: eslint --max-warnings 0

test(oas3): add e2e coverage for request body description on file upload content types
  test/e2e-cypress/e2e/features/plugins/oas3/request-body-file-upload-description.cy.js
  test/e2e-cypress/static/documents/features/oas3-request-body-file-upload-description.yaml
Due: eslint --max-warnings 0

test(oas3): use OAS3 renderedMarkdown class in e2e selectors
  test/e2e-cypress/e2e/features/plugins/oas3/request-body-file-upload-description.cy.js
Due: eslint --max-warnings 0

fix: add "Copied!" feedback to copy-to-clipboard button
  src/core/components/copy-to-clipboard-btn.jsx
  src/style/_buttons.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix(style): added copied success message for clipboard icon
  src/core/components/copy-to-clipboard-btn.jsx
  src/core/components/curl.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
  src/style/_buttons.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

docs(i18n): add missing locales and document response.* keys
  docs/usage/i18n.md
Due: none

feat(i18n): add missing locale files ca, it, ja, ka (geo), pl, tr
  src/core/plugins/i18n/locales/ca.js
  src/core/plugins/i18n/locales/index.js
  src/core/plugins/i18n/locales/it.js
  src/core/plugins/i18n/locales/ja.js
  src/core/plugins/i18n/locales/ka.js
  src/core/plugins/i18n/locales/pl.js
  src/core/plugins/i18n/locales/tr.js
  test/unit/core/plugins/i18n/locales.test.js
Due: eslint --max-warnings 0

fix(i18n): remove auth.client_id and auth.client_secret i18n keys
  docs/usage/i18n.md
  src/core/components/auth/oauth2.jsx
  src/core/plugins/i18n/locales/ca.js
  src/core/plugins/i18n/locales/de.js
  src/core/plugins/i18n/locales/en.js
  src/core/plugins/i18n/locales/es.js
  src/core/plugins/i18n/locales/fr.js
  src/core/plugins/i18n/locales/is.js
  src/core/plugins/i18n/locales/it.js
  src/core/plugins/i18n/locales/ja.js
  src/core/plugins/i18n/locales/ka.js
  src/core/plugins/i18n/locales/ko.js
  src/core/plugins/i18n/locales/pl.js
  src/core/plugins/i18n/locales/pt.js
  src/core/plugins/i18n/locales/ru.js
  src/core/plugins/i18n/locales/tr.js
  src/core/plugins/i18n/locales/zh.js
Due: eslint --max-warnings 0

feat: add eslint-plugin-jsx-a11y and fix a11y violations
  .eslintrc.js
  package-lock.json
  package.json
  src/core/components/auth/oauth2.jsx
  src/core/components/debug.jsx
  src/core/components/errors.jsx
  src/core/components/headers.jsx
  src/core/components/layout-utils.jsx
  src/core/components/parameters/parameters.jsx
  src/core/components/response-body.jsx
Due: eslint --max-warnings 0

feat(lint): integrate eslint-plugin-react-hooks with rules-of-hooks and exhaustive-deps as errors
  .eslintrc.js
  flavors/swagger-ui-react/index.jsx
  package-lock.json
  package.json
  src/core/plugins/json-schema-2020-12/components/JSONSchema/JSONSchema.jsx
  src/core/plugins/json-schema-2020-12/components/keywords/$anchor.jsx
  src/core/plugins/json-schema-2020-12/components/keywords/$comment.jsx
  src/core/plugins/json-schema-2020-12/components/keywords/$defs.jsx
  src/core/plugins/json-schema-2020-12/components/keywords/$dynamicAnchor.jsx
  src/core/plugins/json-schema-2020-12/components/keywords/$dynamicRef.jsx
  src/core/plugins/json-schema-2020-12/components/keywords/$id.jsx
  src/core/plugins/json-schema-2020-12/components/keywords/$ref.jsx
  src/core/plugins/json-schema-2020-12/components/keywords/$schema.jsx
  src/core/plugins/json-schema-2020-12/components/keywords/$vocabulary/$vocabulary.jsx
  src/core/plugins/json-schema-2020-12/hoc.jsx
  src/core/plugins/json-schema-2020-12/hooks.js
  src/core/plugins/json-schema-2020-12/index.js
  src/core/plugins/json-schema-5/components/model-example.jsx
  src/core/plugins/oas3/components/servers.jsx
  src/core/plugins/oas31/components/models/models.jsx
Due: eslint --max-warnings 0
