Repository swagger-api/swagger-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, stylelint '**/*.scss'

fix(deep-linking): ignore native anchors that are not deep links
  src/core/plugins/deep-linking/layout.js
  test/e2e-cypress/e2e/bugs/10527.cy.js
  test/e2e-cypress/static/documents/bugs/10527.yaml
  test/unit/core/plugins/deep-linking/layout.js
Due: eslint --max-warnings 0

chore(deps): bump uuid to the latest
  package-lock.json
  package.json
Due: none

feat: enhance accessibility for copy-to-clipboard buttons
  src/core/components/copy-to-clipboard-btn.jsx
  src/core/components/curl.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
Due: eslint --max-warnings 0

:sparkles: improve accessibility for copy-to-clipboard buttons
  src/core/components/copy-to-clipboard-btn.jsx
  src/core/components/curl.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/core/plugins/syntax-highlighting/components/HighlightCode.jsx
Due: eslint --max-warnings 0

:fire: enhance accessibility for dark mode toggle button
  src/standalone/plugins/top-bar/components/DarkModeToggle.jsx
Due: eslint --max-warnings 0

:tada: add WCAG accessibility checks for copy-to-clipboard buttons
  .github/workflows/wcag.yml
  package-lock.json
  package.json
  test/e2e-cypress/e2e/a11y/button-accessible-names.cy.js
  test/e2e-cypress/support/e2e.js
Due: eslint --max-warnings 0

test: update programmatic names for response action buttons
  test/e2e-cypress/e2e/a11y/button-accessible-names.cy.js
Due: eslint --max-warnings 0

chore: add explicit least-privilege permissions to GitHub Actions workflows
  .github/workflows/codeql.yml
  .github/workflows/docker-build-push-unstable.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/release-swagger-ui-dist.yml
  .github/workflows/release-swagger-ui-packagist.yml
  .github/workflows/release-swagger-ui-react.yml
  .github/workflows/release-swagger-ui.yml
Due: none

chore(deps): bump uuid to the latest (#10907)
  package-lock.json
  package.json
Due: none

chore(deps-dev): bump body-parser, express and @cypress/request
  package-lock.json
  package.json
Due: none

chore(deps-dev): bump body-parser, express and @cypress/request (#10914)
  package-lock.json
  package.json
Due: none

feat(config): add resolveSubtreeOnExpand option to skip subtree resolution on expand
  src/core/config/defaults.js
  src/core/config/type-cast/mappings.js
  src/core/containers/OperationContainer.jsx
  src/core/plugins/json-schema-5/components/model.jsx
  src/core/plugins/json-schema-5/components/models.jsx
  src/core/plugins/json-schema-5/components/object-model.jsx
  test/e2e-cypress/e2e/features/resolve-subtree-on-expand-disabled.cy.js
  test/unit/core/config/type-cast/index.js
  test/unit/core/plugins/json-schema-5/components/model.jsx
  test/unit/core/plugins/json-schema-5/components/models.jsx
  test/unit/core/plugins/json-schema-5/components/object-model.jsx
Due: eslint --max-warnings 0

docs(config): document resolveSubtreeOnExpand option
  docs/usage/configuration.md
Due: none

docs: update README integration test instructions
  README.md
Due: none

fix(swagger-ui): prevent id conflict in ParameterIncludeEmpty
  src/core/components/parameter-include-empty.jsx
Due: eslint --max-warnings 0

fix: use scoped DOMPurify instance to avoid mutating global
  src/core/components/providers/markdown.jsx
Due: eslint --max-warnings 0

fix: add queryConfigEnabled to type-cast mappings
  src/core/config/type-cast/mappings.js
Due: eslint --max-warnings 0

fix: don't send empty string for empty array params when 'send empty value' is checked
  src/core/plugins/spec/actions.js
Due: eslint --max-warnings 0

fix: add "Copied!" feedback to copy-to-clipboard button
  src/core/components/copy-to-clipboard-btn.jsx
  src/style/_buttons.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix: guard array item schema type access
  src/core/plugins/json-schema-5/components/json-schema-components.jsx
  test/unit/core/plugins/json-schema-5/components/json-schema-form.jsx
Due: eslint --max-warnings 0

fix(deps): bump @babel/core from 7.26.10 to 7.29.7
  package-lock.json
  package.json
Due: none

fix: avoid filling parameter input with invalid array initial values
  src/core/components/parameter-row.jsx
  test/e2e-cypress/e2e/features/try-it-out-schema-type-array-example-type-string.cy.js
  test/e2e-cypress/static/documents/features/try-it-out-schema-type-array-example-type-string.yaml
Due: eslint --max-warnings 0

fix: allow non-array values for schemas with multiple types
  src/core/components/parameter-row.jsx
Due: eslint --max-warnings 0

fix: handle examples change and generated sample values
  src/core/components/parameter-row.jsx
  src/core/utils/parse-parameter-array-value.js
  test/e2e-cypress/e2e/features/try-it-out-schema-type-array-example-type-string.cy.js
  test/e2e-cypress/e2e/features/try-it-out-schema-type-array-with-example.cy.js
  test/e2e-cypress/static/documents/features/try-it-out-schema-type-array-example-type-string.yaml
  test/e2e-cypress/static/documents/features/try-it-out-schema-type-array-with-example.yaml
  test/unit/core/helpers/parse-parameter-array-value.js
Due: eslint --max-warnings 0

refactor: use else instead of return
  src/core/components/parameter-row.jsx
Due: eslint --max-warnings 0

refactor: set null parsed value
  src/core/components/parameter-row.jsx
Due: eslint --max-warnings 0

feat(ux): separate server response and possible responses into distinct panels
  src/core/components/live-response.jsx
  src/core/components/responses.jsx
  src/style/_dark-mode.scss
  src/style/_layout.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix(ux): address code review findings on response panel separation
  src/core/components/responses.jsx
  src/style/_layout.scss
  test/e2e-selenium/scenarios/oas3/pet.js
  test/unit/components/responses.jsx
Due: eslint --max-warnings 0, stylelint '**/*.scss'

feat(curl): add visible "Copy" label to curl clipboard buttons
  src/core/components/curl.jsx
  src/core/plugins/request-snippets/request-snippets.jsx
  src/style/_buttons.scss
  src/style/_dark-mode.scss
Due: eslint --max-warnings 0, stylelint '**/*.scss'

fix(deps): bump http-proxy-middleware to 2.0.10 and ws to 8.21.0
  package-lock.json
Due: none

fix(deps): bump http-proxy-middleware to 2.0.10 and ws to 8.21.0 (#10935)
  package-lock.json
Due: none

chore(release): cut the 5.32.7 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui-standalone-preset.js
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  bf6a8f05dcde5904cab31e666e80e456a05782f2
Due: none

fix: avoid filling parameter input with invalid array initial values (#10928)
  src/core/components/parameter-row.jsx
  src/core/utils/parse-parameter-array-value.js
  test/e2e-cypress/e2e/features/try-it-out-schema-type-array-example-type-string.cy.js
  test/e2e-cypress/e2e/features/try-it-out-schema-type-array-with-example.cy.js
  test/e2e-cypress/static/documents/features/try-it-out-schema-type-array-example-type-string.yaml
  test/e2e-cypress/static/documents/features/try-it-out-schema-type-array-with-example.yaml
  test/unit/core/helpers/parse-parameter-array-value.js
Due: eslint --max-warnings 0

chore(release): cut the 5.32.8 release
  dist/swagger-ui-bundle.js
  dist/swagger-ui-es-bundle-core.js
  dist/swagger-ui-es-bundle.js
  dist/swagger-ui.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0

Notes added by 'git notes add'
  4e0d3f88de7db0395a80ef0541ff428f0926d484
Due: none

feat(docker): build and publish unprivileged Docker image
  .github/workflows/docker-build-push.yml
  Dockerfile.unprivileged
  docs/development/docker.md
Due: none

chore(deps): bump node to 24.17
  .nvmrc
  CLAUDE.md
  docs/development/setting-up.md
Due: none

Path conditions:
  eslint --max-warnings 0: any of: *.{js,jsx}
  stylelint '**/*.scss': any of: *.scss
